{{TEC_COSTA_RICA/navbar}}
{{TEC_COSTA_RICA/custom_CSS}}
<html>

<head>
    <!-- Load Vue followed by BootstrapVue -->
    <script
        src="https://2021.igem.org/wiki/index.php?title=Template:TEC_COSTA_RICA/VueJS&action=raw&ctype=text/javascript">
    </script>
    <link href='https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,800;1,800&display=swap' rel='stylesheet'>
    <script src="https://2020.igem.org/common/MathJax-2.5-latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
</head>


<!-- COMPONENTE CAROUSEL  -->

<style>
    .carousel .carousel-caption {
        padding-top: 2rem;
        height: 100%;
    }

    .carousel .carousel-caption h3 {
        font-size: 50px;
        color: white !important;

    }

    .carousel .carousel-caption p {
        /*font-size: 12px;*/
    }

    .page_content_sections .page_content_section {
        display: none;
        padding: 10%;
        padding-top: 20px;
    }

    .page_content_sections .page_content_section_active {
        display: block;
    }
</style>

<script type="text/x-template" id="main_carousel">
    <div>
        <div>
            <div :id="'carouselComponent'+id" class="carousel slide" data-bs-ride="carousel" data-bs-interval="false"  ref="maincarousel"  >


                <ol class="carousel-indicators">
                    <li v-for="(slide, index) in slides_content" :data-bs-target="'#carouselComponent'+id"  v-bind:data-bs-slide-to="index" v-bind:class="{ active: index==0 }"></li>
                </ol>

                <div class="carousel-inner" role="listbox">


                    <div class="carousel-item" v-for="(slide, index) in slides_content"  v-bind:class="{ active: index==0 }">
                        <svg class="bd-placeholder-img" width="100%" height="250px" xmlns="http://www.w3.org/2000/svg"
                            aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
                            <rect width="100%" height="100%" fill="#1A1A1A" />
                        </svg>

                        <div class="carousel-caption text-start">
                            <h3 class="slide_tittle">
                                {{slide.title}}

                            </h3>
                            <p class="slide_text w-75">
                                {{slide.content}}
                            </p>
                        </div>
                    </div>
            </div>


            <button class="carousel-control-prev" type="button" :data-bs-target="'#carouselComponent'+id"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" :data-bs-target="'#carouselComponent'+id"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>

        </div>
    </div>       
</script>


<script>
    Vue.component("main-carousel", {
        data: {},
        props: {
            current_slide: {
                type: Object,
                default: "casa"
            },
            slides_content: {
                type: Array,
                default: []
            },
            id: {
                type: Number,
                default: 0
            }
        },

        template: "#main_carousel",
        methods: {
            updateCurrentSlide: function (event) {
                this.current_slide.index = event.to;
            },

        },
        mounted() {
            this.$refs.maincarousel.addEventListener('slide.bs.carousel', this.updateCurrentSlide);
        }
    });
</script>
<!-- COMPONENTE CAROUSEL -->




<!-- CONTENIDO PRINCIPAL -->

<body>
    <div id="app" class="position-absolute top-0 start-0 w-100">


        <div class="position-relative overflow-hidden p-3 p-md-5  text-start  main-title">
            <img class="main-title-bg" style="min-height: 100%; min-width: 100%;"
                src="https://picsum.photos/id/1042/1200/400" alt="">
            <h1>Collaboration</h1>
            <h5 class="">Collaborations proved themselves to be a valuable way to further our knowledge, outreach and
                project.</h5>
        </div>


        <main-carousel v-bind:current_slide="current_slide_index" v-bind:slides_content="slides_content" :id="1">
        </main-carousel>

        <!-- collaborations -->
        <div v-if="current_slide_index.index==0" class="container">


            <div class="container wiki-card wikicard-12 mx-auto p-3 row  wikicard-12-double-col">
                <h2>Biocontainment Round Table </h2>

                <p class="">
                    The biocontainment round table was our biggest incursion in collaboration this year. Along with the
                    iGEM MSU team we planned an event open for all iGEM teams to discuss and learn about biocontainment
                    and related subjects. This involved several meetings throughout the year in order to plan the event,
                    create educational content to precede the event, design the presentations and discussion subjects to
                    be addressed and other similar topics. Gladly the event was a success, we got several teams involved
                    (MIT_MAHE, iGEM Laiden, FBC_UANL, iGEM Bielefeld, iGEM EPFL) as well as the safety and security
                    committee from iGEM HQ. You can find our insights on this event at Human Practices.
                </p>
            </div>

            <div class="container  mx-auto p-3 wikicard-12-img">
                <div class="text-center">
                    <img src="https://2021.igem.org/wiki/images/e/e6/T--TEC_COSTA_RICA--Collaboration_01_MSURoundTable.png"
                        alt="" style="width:100% center" class="w-75">
                </div>
            </div>

            <p class="">
                Here you can access the material we went through at the discussion table, which can serve as a guide for
                future teams wishing to host events like these. It includes multiple generating questions and
                explanatory sections of the most studied biocontainment systems.
            </p>

            <div class="container wiki-card wikicard-12 mx-auto p-3 row  wikicard-12-double-col">
                <h2>Intellectual Property- iGEM UANL </h2>

                <p class="">
                    We know that for the registration of products or procedures of biotechnological nature, there are
                    variants depending on the country regarding: what is or is not patentable, the ways to do it, the
                    bureaucracy involved, and the benefits and powers given to the applicant in case of positive
                    approval. That is why we decided to participate in the {iGEM UANL}’s initiative to highlight the
                    contrast of the panorama in each country and at the same time rescue the improvements that can be
                    made to the system, leaving the documentation as an available reference so that colleagues and
                    iGEMers know how to protect their inventions and the requirements to be considered as well.
                </p>
            </div>

            <div class="container  mx-auto p-3 wikicard-12-img">
                <div class="text-center">
                    <img src="https://2021.igem.org/wiki/images/2/2f/T--TEC_COSTA_RICA--Collaboration_02_IntellectualProperty.png"
                        alt="" style="width:100% center" class="w-75">
                </div>
            </div>


            <div class="container wiki-card wikicard-12 mx-auto p-3 row  wikicard-12-double-col">
                <h2>Mental health as a priority for integral human development- iGEM Vienna and NCKU Tainan </h2>

                <p class="">
                    During the pandemic our access to the lab was limited, but this was not the biggest obstacle to
                    overcome, neither were virtual meetings. Our team struggled with mental health throughout our
                    journey. The already stressful time that is University (more so with iGEM) had to withstand an even
                    bigger strain: a full shift on our life, including routine, habits (work and personal),
                    interpersonal relationships and our goals and possibilities. Because of this, it became evident that
                    taking the time to discuss mental health and implement changes in order to preserve it became a
                    priority. Soon, during our meetings with iGEM Vienna, while checking out NCKU’s project’s focus, and
                    realizing that coffee hours were being implemented, we realized that the issue was widespread for
                    most iGEM teams, which lead us to develop several social-media strategies focused on trying to
                    diminish stress and reminding everyone to take a well deserved break.
                </p>
            </div>

            <div class="container  mx-auto p-3 wikicard-12-img">
                <div class="text-center">
                    <img src="https://2021.igem.org/wiki/images/6/65/T--TEC_COSTA_RICA--Collaboration_03_DeStressiGEM.png"
                        alt="" style="width:100% center" class="w-50">
                </div>
            </div>

            <div class="container wiki-card wikicard-12 mx-auto p-3 row  wikicard-12-double-col">
                <h2>Sustainable development goals-iGEM Patras team </h2>

                <p class="">
                    One of the most reflective collaborations was the one with iGEM Patras regarding sustainable
                    development goals related to our project. Even though the assignment was very simple, to turn in a
                    20s video mentioning at least 3 goals that could be achieved with or aided by our project, we took
                    to it with a very serious and reflective attitude, which in turn made us spend a lot of time
                    discussing the ramifications of our project. If you want to see our reflective process on this
                    subject, you can check out Human Practices.
                </p>
            </div>

            <div class="container  mx-auto p-3 wikicard-12-img">
                <div class="text-center">
                    <img src="https://2021.igem.org/wiki/images/7/78/T--TEC_COSTA_RICA--Collaboration_04_SDGiGEMPatras.jpeg"
                        alt="" style="width:100% center" class="w-25">
                </div>
            </div>
        </div>




        <!-- meetsups -->
        <div v-if="current_slide_index.index==1" class="container">

            <div class="container wiki-card wikicard-12 mx-auto p-3 row  wikicard-12-double-col">
                <!-- <h2>Latam & Russian Meetups-iGEM TEC CEM & iGEM Moscow City teams </h2> -->

                <p class="">
                    Attending Meetups and other events where we’re able to present is a great example of an experience
                    where everybody wins. By giving our presentation we enable other teams, or the audience, to learn
                    from our project. This is also a plus for the organizing teams, since supporting their initiatives
                    promotes engagement with a broader audience. For us, presenting is great practice for our
                    communication skills and receiving feedback is always a great way to improve our project.
                </p>
            </div>


            <div class="container wiki-card mx-auto p-3 row wikicard-6-2-img-no-number">
                <div class="col-sm-6">
                    <h2>Latam & Russian Meetups-iGEM TEC CEM & iGEM Moscow City teams </h2>
                    <p>
                        Both the Latam and Russian Meetups were organized by fellow iGEMers (iGEM TEC CEM, iGEM Moscow).
                        In attending we supported their initiative, learned from several other projects and gained
                        feedback from their very different target audiences. The Latam Meetup had the added value of
                        including a panel of judges, who highlighted important aspects of our project in which we should
                        elaborate, and also reminded us to have fun throughout the experience.
                    </p>
                </div>

                <div class="col-sm-6 justify-content-md-center">
                    <img class="img-square align-middle "
                        src="https://2021.igem.org/wiki/images/5/55/T--TEC_COSTA_RICA--Collaboration_05_LatamMeetup.jpeg"
                        all="">
                </div>
            </div>


            <div class="container wiki-card mx-auto p-3 row wikicard-6-2-img-no-number">
                <div class="col-sm-6 justify-content-md-center">
                    <img class="img-square align-middle "
                        src="https://2021.igem.org/wiki/images/1/10/T--TEC_COSTA_RICA--Collaboration_06_PeruJournalClub.png"
                        all="">
                </div>
                <div class="col-sm-6">
                    <h2>Peruvian Journal Club-JC UPCH </h2>
                    <p>
                        The peruvian journal club, hosted by JC UPCH, served as an exercise for us to be able to present
                        for audiences without extensive knowledge on synthetic biology, since it was oriented to
                        highschool students. This helped us improve our communication skills. The club was also a fun
                        and dynamic space for us to participate in, which we enjoyed tremendously. Being a catalyst for
                        young people to engage in synthetic biology is always very rewarding for us as a team.
                    </p>
                </div>


            </div>

            <div class="container wiki-card mx-auto p-3 row wikicard-6-2-img-no-number">
                <div class="col-sm-6">
                    <h2>After iGEM Latam Fest </h2>
                    <p>
                        The iGEM Latam Fest, organized by After iGEM was a great opportunity to practice our story
                        telling skills while presenting our project to a broad audience and a panel of experienced
                        judges. The feedback we obtained was of great quality and the questions that were asked served
                        us as pointers regarding what was missing from our presentation.
                    </p>
                </div>

                <div class="col-sm-6 justify-content-md-center">
                    <img class="img-square align-middle "
                        src="https://2021.igem.org/wiki/images/4/42/T--TEC_COSTA_RICA--Collaboration_07_iGEMLATAMFEST.png"
                        all="">
                </div>
            </div>







        </div>

        <!-- interviews -->
        <div v-if="current_slide_index.index==2" class="container">

            <div class="container wiki-card mx-auto p-3 row wikicard-6-2-img-no-number">
                <div class="col-sm-6">
                    <h2>Bolivia-iGEM Bolivia team </h2>
                    <p>
                        When reached by the Bolivian team with the proposal of collaborating on the creation of a guide
                        for future iGEMer teams we were thrilled. We have had many obstacles and have learned so much
                        from each and every experience, both the triumphs and the failures. Because of this we are
                        always looking forward to having the opportunity of sharing our journey and hopefully making a
                        positive impact in others’. Another great factor was that we were able to support the initiative
                        of a new latin team, making the sharing of experiences a lot more intimate given the shared
                        culture and history.
                    </p>

                    <div class="d-flex flex-column justify-content-center">
                        <div class="p-2">
                            <a class="btn btn-lg btn-outline-primary" href="https://2021.igem.org/wiki/images/2/25/T--Bolivia--collaborations_handbo1.pdf">
                                <i class="fas fa-download"></i>
                                Participate in iGEM for beginners
                            </a>
                        </div>
                    </div>

                </div>

                <div class="col-sm-6 justify-content-md-center">
                    <img class="img-square align-middle "
                        src="https://2021.igem.org/wiki/images/f/fb/T--TEC_COSTA_RICA--Collaboration_08_iGEMBolivia.jpeg"
                        all="">
                </div>
            </div>


            <div class="container wiki-card mx-auto p-3 row wikicard-6-2-img-no-number">
                <div class="col-sm-6 justify-content-md-center">
                    <img class="img-square align-middle "
                        src="https://2021.igem.org/wiki/images/f/f1/T--TEC_COSTA_RICA--Collaboration_09_iGEM-Guelph.png"
                        all="">
                </div>
                <div class="col-sm-6">
                    <h2>Guelph-iGEM Guelph team </h2>
                    <p>
                        The interview by the Guelph team had similar interests in mind, since it involved the creation
                        of in-depth summaries regarding iGEM projects and team experiences, with the added bonus that,
                        since it was first requested as a form, our written information could be directly used or cited.
                        It also presented itself as an opportunity to reach a broader audience, since aside from the
                        content published in their wiki, they developed educational material directed to Canadian
                        highschoolers.
                    </p>


                    <div class="d-flex justify-content-center">

                        <a class="btn btn-lg btn-outline-primary"
                            href="https://2021.igem.org/wiki/images/e/eb/T--Guelph--Costa_Rica_Materials.pdf">
                            <i class="fas fa-download"></i>
                            Article
                        </a>
                    </div>

                    <!-- <div class="text-center">
                        <h3>
                            <a href="https://2021.igem.org/wiki/images/e/eb/T--Guelph--Costa_Rica_Materials.pdf">Article</a>
                        </div>

                        </h3> -->
                    
                </div>


                </div>




            </div>




            <!-- publick engagement -->
            <div v-if="current_slide_index.index==3" class="container">


                <div class="container wiki-card wikicard-12 mx-auto p-3 row  wikicard-12-double-col">
                    <!-- <h2>title </h2> -->

                    <p class="">
                        Public engagement might be one of the most important initiatives in iGEM competition. The only
                        way to interest people and gain their support is by involving them in current projects,
                        particularly, in their development. For this, extensive communication skills are needed, since
                        the project must be explained in a way that is to be understood by almost everyone and that can
                        be easily related to on a personal level.
                    </p>
                </div>

                <div class="container wiki-card mx-auto p-3 row wikicard-6-2-img-no-number">
                    <div class="col-sm-6">
                        <h2>Inclusion campaign-iGEM Concordia team </h2>
                        <p>
                            For us inclusion is one of the key pillars of human interactions. Many of our team members
                            have experienced exclusion so to pursue well-rounded and respect-based interactions is a
                            personal issue for us. We believe that in multiculturalism and diversity, creativity and
                            innovation are found. For these to exist values such as respect, empathy and freedom have to
                            be not just encouraged, but built upon at the core of projects and events. This is why we
                            endorsed iGEM Concordia’s campaign on social media and made a commitment to advocate for
                            openness, inclusion, intersectionality, diversity and equity.
                        </p>
                    </div>

                    <div class="col-sm-6 justify-content-md-center">
                        <img class="img-square align-middle "
                            src="https://2021.igem.org/wiki/images/3/32/T--TEC_COSTA_RICA--Collaboration_10_InclusionCampaignConcordia.jpeg"
                            all="">
                    </div>
                </div>


                <div class="container wiki-card mx-auto p-3 row wikicard-6-2-img-no-number">
                    <div class="col-sm-6 justify-content-md-center">
                        <img class="img-square align-middle "
                            src="https://2021.igem.org/wiki/images/2/24/T--TEC_COSTA_RICA--Collaboration_11_CCUTaiwanPictureBook.png"
                            all="">
                    </div>
                    <div class="col-sm-6">
                        <h2>Picture book project-CCU Taiwan team </h2>
                        <p>
                            The picture book project was one of our favorite collaborations. The collaboration itself
                            involved translating a short illustrated story for CCU Taiwan iGEM team in order for them to
                            be able to engage with a much broader audience, since there are plenty spanish speaking
                            countries. The process of translating was such an enriching experience for us as Costa
                            Ricans, since we got to learn from Taiwan’s mythology and traditions in perfect harmony with
                            CCU Taiwan’s project. The translation itself was a challenge, since many expressions didn’t
                            work well in Spanish and others we are used to saying in english. Nonetheless, completing
                            this collaboration was very fulfilling and the end product inspiring and impressive.
                            Additionally we took it to ourselves to spread the picture book projects around our networks
                            in Costa Rica.
                        </p>
                        <div class="d-flex flex-column justify-content-center">
                            <div class="p-2">
                                <a class="btn btn-lg btn-outline-primary" href="https://2021.igem.org/wiki/images/3/3d/T--TEC_COSTA_RICA--Collaboration_11_PictureBook_Costa_Rica-Spanish.pdf">
                                    <i class="fas fa-download"></i>
                                    Picture book
                                </a>
                            </div>
                        </div>
                    </div>

                    


                </div>

                <div class="container wiki-card mx-auto p-3 row wikicard-6-2-img-no-number">
                    <div class="col-sm-6">
                        <h2>Comic-iGEM - IISER Berhampur team </h2>
                        <p>
                            As a team with many art-inclined members, we were delighted by the opportunity, presented by
                            the IISER Berhampur team, of having our project presented as part of a comic book. The
                            design was inspired by a post-pandemic world submerged in devastation and affected by many
                            problems including environmental pollution caused by humans, such as radiation leakage. This
                            is why we decided to orient our submission towards the development of accessible and
                            drinkable water sources through the use of synthetic biology, which is one of the multiple
                            applications that can be given to our Chronobacter project.
                            As a whole, we believe that this comic is an extraordinary way to engage with just about
                            anyone; having as many topics, designs and different content in general, almost assures that
                            a light will spark in each and every person who comes in contact with it.

                        </p>
                    </div>

                    <div class="col-sm-6 justify-content-md-center">
                        <img class="img-square align-middle "
                            src="https://2021.igem.org/wiki/images/a/a3/T--TEC_COSTA_RICA--Collaboration_12_Comic.jpeg"
                            all="">
                    </div>
                </div>


                <div class="container wiki-card mx-auto p-3 row wikicard-6-2-img-no-number">
                    <div class="col-sm-6 justify-content-md-center">
                        <img class="img-square align-middle "
                            src="https://2021.igem.org/wiki/images/d/d6/T--TEC_COSTA_RICA--Collaboration_13_Postcard.png"
                            all="">
                    </div>
                    <div class="col-sm-6">
                        <h2>Postcard-iGEM Düsseldorf team </h2>
                        <p>
                            The postcard initiative has been on iGEM for several years now, and as such it’s always a
                            way to make us all come together and take an interest in each other’s projects. It’s also a
                            media to express our creativity and communication skills. This iGEM Düsseldorf’s team
                            collaboration not only allowed us to spread our project with teams from the rest of the
                            world, but also involved a communicative challenge, in which in a few words and certain
                            visual elements, we had to describe it in an understandable and striking way, as
                            communication and science should be.
                        </p>
                    </div>


                </div>

                <div class="container wiki-card mx-auto p-3 row wikicard-6-2-img-no-number">
                    <div class="col-sm-6">
                        <h2>Photo Collage-iGEM ULaval, iGEM Concordia-Montréal, iGEM Patras and iGEM Thessaloniki teams
                        </h2>
                        <p>
                            The teams iGEM ULaval, iGEM Concordia-Montréal, iGEM Patras and iGEM Thessaloniki, have
                            partnered to develop the "Rosalind Chronicles'', an initiative in which we participated,
                            since we believe in women’s impact has changed and will continue to change the world. The
                            objective was to highlight the faces and achievements of women who have represented science
                            in any of its forms, as is Alexandra Elbakyan: software developer and creator of the
                            Sci-platform hub to provide free access to scientific information. This proposal supports
                            the thinking of our team in which we want to highlight women’s empowerment in STEM and other
                            areas and we are excited to see initiatives like this being developed by iGEM teams.
                        </p>
                    </div>

                    <div class="col-sm-6 justify-content-md-center">
                        <img class="img-square align-middle "
                            src="https://2021.igem.org/wiki/images/8/89/T--TEC_COSTA_RICA--Collaboration_14_RosalindChroniclesPhotoCollage.jpeg"
                            all="">
                    </div>
                </div>

            </div>


            <!-- publick engagement -->
            <!-- <div v-if="current_slide_index.index==0" class="container">

            
        </div> -->







        </div>

</body>
<!-- CONTENIDO PRINCIPAL -->

<!-- <style>

</style>

<style>
    #globalWrapper {
        font-size: 100% !important;
    }

    #HQ_page h1,
    h2,
    h3,
    h4,
    h5 {
        font-family: var(--bs-body-font-family) !important;
        overflow: visible !important
    }

    #HQ_page p {
        font-family: var(--bs-body-font-family) !important;
        font-size: var(--bs-body-font-size) !important;
    }



    /*
    #HQ_page h1,
    h2,
    h3,
    h4,
    h5 {
     font-family:"Arial",Gadget,sans-serif;
     border-bottom:none;
     font-weight:bold
    }

    #HQ_page p {
        font-family:"Arial",Helvetica,sans-serif;
        font-size:13px;
        text-align:justify
       }
       
    /*body {
        font-family: var(--bs-body-font-family) !important;
    }*/

    .double-text {
        background-color: #1A1A1A;
        -webkit-text-stroke-width: 1.5px;
        -webkit-text-fill-color: rgba(255, 255, 255, 0);
        -webkit-text-stroke-color: rgb(255, 255, 255);
        font-size: 90px;
        font-family: 'Open Sans';
        font-weight: 800 !important;

        text-shadow:
            6px 8px 0px rgb(255, 255, 255);
        opacity: 1;
        text-transform: uppercase;
        letter-spacing: -1.03px;
    }


    .main-title h1 {
        /*font-family: 'Open Sans'; */
        font-weight: 800 !important;
        font-size: 55px;
        -webkit-text-fill-color: #ffffff00;
        -webkit-text-stroke-width: 1.5px;
        -webkit-text-stroke-color: #ffffff;
    }


    .main-title h5 {
        /*font-family: 'Open Sans'; */
        font-size: 15px;
        color: #ffffff;
        width: 40%
    }

    .main-title-bg {
        opacity: 0.9;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: auto;
        z-index: -99;
    }

    .wiki-card {}

    .wiki-card .img-round {
        border-radius: 50%;
        width: auto;
        height: auto;
        max-height: 400px;
        max-width: 95%;

    }

    .wiki-card .img-square {
        border-radius: 10px;
        width: auto;
        height: auto;
        max-height: 400px;
        max-width: 95%;

    }

    .wiki-card h1 {
        /*margin-right: 10vw;*/
        color: #E2474B;
        font-size: calc(2rem + 1.5vw);
        /*font-size: 56px;*/
        font-weight: bold;
        letter-spacing: -0.8px;
    }

    .wiki-card h2 {
        color: #27262D;
        font-size: 24px;
        font-weight: bold;
        letter-spacing: 0;
        line-height: 33px;
    }

    .wiki-card h3 {
        color: #626262;
        font-size: 18px;
        letter-spacing: -0.2px;
        line-height: 19px;
    }

    .wiki-card p {
        color: #27262D;
        /*line-height: 24px;*/
    }

    .wiki-card p.wiki-card-2columns {
        columns: 2;
    }
</style> -->




<script>
    var app = new Vue({
        el: '#app',
        data() {
            return {
                isActive: true,
                message: 'hello app',
                current_slide_index: {
                    index: 0
                },
                current_slide_index2: {
                    index: 0
                },
                slides_content:

                    [{
                            title: "Collaboration Initiatives",
                            content: "In this section we present collaborations in which we not only took part, but proposed or helped organize in some way."
                        },
                        {
                            title: "Meetups and Events",
                            content: "Here you can find the meetups or public events we attended and learn about the way they impacted our work"
                        },
                        {
                            title: "Interviews",
                            content: "Interviews are a great way to engage between teams, specifically when creating shared content such as the initiatives presented next."
                        },
                        {
                            title: "Public Engagement",
                            content: "If one wishes to really have impact, engaging with the public is a key feature for any and every project; to do it collectively is even better"

                        }
                    ],

            }
        },
        methods: {},
        mounted() {}
    })
</script>


</html>