<html>

<head>

    <link rel="stylesheet" type="text/css"
        href="https://2021.igem.org/wiki/index.php?title=Template:TEC_COSTA_RICA/BootstrapMinCSS&action=raw&ctype=text/css" />

    <!-- Load Vue followed by BootstrapVue -->
    <script
        src="https://2021.igem.org/wiki/index.php?title=Template:TEC_COSTA_RICA/VueJS&action=raw&ctype=text/javascript">
    </script>

    <script
        src="https://2021.igem.org/wiki/index.php?title=Template:TEC_COSTA_RICA/BootstrapJS&action=raw&ctype=text/javascript">
    </script>

    <link href='https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,800;1,800&display=swap' rel='stylesheet'>

</head>




<!-- COMPONENTE CAROUSEL -->
<style>
    .carousel .carousel-caption {
        padding-top: 2rem;
        height: 100%;
    }

    .carousel .carousel-caption h3 {
        font-size: 50px;
        color: white !important;

    }

    .carousel .carousel-caption p {
        /*font-size: 12px;*/
    }

    .page_content_sections .page_content_section {
        display: none;
        padding: 10%;
        padding-top: 20px;
    }

    .page_content_sections .page_content_section_active {
        display: block;
    }
</style>

<script type="text/x-template" id="main_carousel">
    <div>
        <div>
            <div :id="'carouselComponent'+id" class="carousel slide" data-bs-ride="carousel" data-bs-interval="false"  ref="maincarousel"  >


                <ol class="carousel-indicators">
                    <li v-for="(slide, index) in slides_content" :data-bs-target="'#carouselComponent'+id"  v-bind:data-bs-slide-to="index" v-bind:class="{ active: index==0 }"></li>
                </ol>

                <div class="carousel-inner" role="listbox">


                    <div class="carousel-item" v-for="(slide, index) in slides_content"  v-bind:class="{ active: index==0 }">
                        <svg class="bd-placeholder-img" width="100%" height="250px" xmlns="http://www.w3.org/2000/svg"
                            aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
                            <rect width="100%" height="100%" fill="#1A1A1A" />
                        </svg>

                        <div class="carousel-caption text-start">
                            <h3 class="slide_tittle">
                                {{slide.title}}

                            </h3>
                            <p class="slide_text w-75">
                                {{slide.content}}
                            </p>
                        </div>
                    </div>
            </div>


            <button class="carousel-control-prev" type="button" :data-bs-target="'#carouselComponent'+id"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" :data-bs-target="'#carouselComponent'+id"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>

        </div>
    </div>       
</script>


<script>
    Vue.component("main-carousel", {
        data: {},
        props: {
            current_slide: {
                type: Object,
                default: "casa"
            },
            slides_content: {
                type: Array,
                default: []
            },
            id: {
                type: Number,
                default: 0
            }
        },

        template: "#main_carousel",
        methods: {
            updateCurrentSlide: function (event) {
                this.current_slide.index = event.to;
            },

        },
        mounted() {
            this.$refs.maincarousel.addEventListener('slide.bs.carousel', this.updateCurrentSlide);
        }
    });
</script>
<!-- COMPONENTE CAROUSEL -->




<!-- CONTENIDO PRINCIPAL -->

<body>
    <div id="app">


        <div class="position-relative overflow-hidden pt-5 px-5  text-start  main-title">
            <img class="main-title-bg" src="https://picsum.photos/id/1042/1200/400" alt="">
            <h1>Education & Communication</h1>
            <h5 class="">Our team was determined in creating content that could work as educational aid for everyone. Our goal was for our content to be accesible, easy to navigate and understand. This way we can contribute in spreading our knowledge and helping others learn about biotechnology. </h5>

            <div class="nav nav-pills  justify-content-start mt-4 mb-2 ">

                <a href="/Team:TEC_COSTA_RICA/Education" class="btn btn-light btn-lg  mx-2 wiki-tab-btn active" role="button">Education</a>


                <a href="/Team:TEC_COSTA_RICA/Communication" class="btn btn-light btn-lg  mx-2 wiki-tab-btn" role="button"> Communication</a>

            </div>
        </div>


        <main-carousel v-bind:current_slide="current_slide_index" v-bind:slides_content="slides_content" :id="1">
        </main-carousel>

        <!--  Educational Content & Target Audience  -->
        <div v-if="current_slide_index.index==0" class="container">

            <div class="container wiki-card wikicard-12 mx-auto p-3 row  wikicard-12-double-col">

                <p class="">
                    Our educational system has been facing multiple challenges ever since lockdowns ensued due to the COVID-19 pandemic. The drastic change from in person to virtual classes has been jarring for most students. As a team, we realized how much students worried about the quality of their courses and the way in which they were learning. For example, most lab courses in our univeristy were closed and thus students where no longer able to visualize what working in a lab is like.

<br> Upon further research of educational resources for these types of courses, we realized the amount of information that is not available, specially regarding synthetic biology. 
<br><br> Thanks to this discovery, we set to work on developing a virtual lab and various interactives that students and teachers could use as an additional source of information in class. 
<br> As a team, especially a team representing Costa Rica, we are also awfully aware of the inequality regarding access to eduaction not only in our country but around the world. Our target audience are not only college students who are on lockdown, but all those students of any age who have sparks of curiosity regarding science, but have never seen a lab before. 

                </p>
            </div>
            <div class="container  mx-auto p-3 wikicard-12-img">

                <div class="text-center">
                    <img src="https://2021.igem.org/wiki/images/9/94/T--TEC_COSTA_RICA--Education_5_EducationMaterial.png" alt="" style="width:100% center" class="w-75">
                </div>
            </div>

        </div>




        <!-- LabxChange -->
        <div v-if="current_slide_index.index==1" class="container">


            <div class="container wiki-card wikicard-12 mx-auto p-3 row  wikicard-12-double-col">
               
                <p class="">
                    During the creation process, we came across Labxchange and saw that they were also working on developing similar ideas. Labxchange was kind enough to meet with us and listen to our ideas, worries and goals. In the end, they invited us to display our work on their website as a way to diffuse the information better. 
It is important to note, that the topics of our interactives were also discussed throughout this meeting. We decided to develop on topics that were previously not developed and would compliment well with the work they already have on their site. 
                </p>
            </div>


            <div class="container  mx-auto p-3 wikicard-12-img">

                <div class="text-center">
                    <img src="https://2021.igem.org/wiki/images/3/36/T--TEC_COSTA_RICA--Education_6_GroupLabxchange.png" alt="" style="width:100% center" class="w-75">
                </div>
            </div>
        </div>

        <!--  Virtual Labs & Interactives  -->
        <div v-if="current_slide_index.index==2" class="container">


            <div class="container wiki-card wikicard-12 mx-auto p-3 row  wikicard-12-double-col">

                <p class="">
                    As of right now, we have been able to develop one virtual lab which guides the user through a lab experience regarding the process of transformation. Additionally, three interactives have been developed; one explains the generalities about synthetic biology, another the assembly process, and lastly one explains and guides the user through an auxotrophy lab. Lastly, we developed a complete timeline regarding avances in synthetic biology. 
                </p>
            </div>

            <div class="container wiki-card wikicard-12 mx-auto p-3 row  wikicard-12-double-col">
                <h2>These resources ensure:</h2>
                <p class="">
                    <ul>
                        <li>interactive learning</li>
                        <li>information coupled with graphic design for better understanding</li>
                        <li>curated knowledge that would otherwise be hard to find</li>
                        
                    </ul>
                </p>
            </div>

            <div class="container  mx-auto p-3 wikicard-12-img">
                <div class="text-center">
                    <img src="https://2021.igem.org/wiki/images/4/4a/T--TEC_COSTA_RICA--education_interactive_1.jpeg" alt="" style="width:100% center" class="w-100">
                </div>
                <p>Transformation: Virtual Lab</p>
            </div>

            <div class="container wiki-card wikicard-12 mx-auto p-3 row  wikicard-12-double-col">
                <p class="">
                    We would like to clarify, that while all of this content has been developed in english; we spoke to labxchange about how important the translation of our work is to ensure more accesibility. We even offered to translate their work to spanish, nevertheless, they told us they had a translation team who was in the process of translating all content posted on their page. Also, labxchange is a page that is free to use, which is also important in terms of accesibility. 
                    <br> In terms of design, our design team was careful in making sure that our work was easy to navigate for everyone. This means using fonts that are easy to read and are identifiable by screen readers. The colors are used as a highlight but are not essential to the interaction, so any person who is color blind can still use our work.  

<br> Our virtual lab has 1219 views and counting, 17 favorites and has been a resourse used in university courses here in Costa Rica and in the SynBio clubs we host. Terminar con el resto. 

                </p>
            </div>

            <div class="container  mx-auto p-3 wikicard-12-img">
                <div class="text-center">
                    <img src="https://2021.igem.org/wiki/images/d/d3/T--TEC_COSTA_RICA--education_virtuallab_1.jpeg" alt="" style="width:100% center" class="w-100">
                </div>
                <p>Synthetic Biology Interactive</p>
            </div>

        </div>




        <!--  Design Process  -->
        <div v-if="current_slide_index.index==3" class="container">


            <div class="container wiki-card wikicard-12 mx-auto p-3 row  wikicard-12-double-col">
                <p class="">
                    Our design process consisted primarily on a lot of organization and communication between our designers and the rest of the members. 
                </p>
            </div>

            <div class="container wiki-card mx-auto p-3 row wikicard-6-2-img">
                <div class="col-sm-8 row">
                    <div class="col-sm-2 text-end">
                        <h1>
                            01
                        </h1>
                    </div>
                    <div class="col-sm-10">
                        <h2>Step 1</h2>
                        <p>
                            For each project, a script would be written out by the biotechnology engineers, consisting of all the information that needed to be included. In this same document, pictures, graphs or any graphic data was added to help designers have references on how some information was meant to be shown. 
Afterwards, designers would read the script and have a meeting so that the script could be explained to them. 
                        </p>
                    </div>
                </div>

                <div class="col-sm-4 justify-content-md-center">
                    <img class="img-square align-middle " src="https://2021.igem.org/wiki/images/f/f5/T--TEC_COSTA_RICA--Education_1_DesignProcess.png" all="">
                </div>
            </div>

            <div class="container wiki-card mx-auto p-3 row wikicard-6-2-img">
                <div class="col-sm-4 justify-content-md-center">
                    <img class="img-square align-middle " src="https://2021.igem.org/wiki/images/c/cf/T--TEC_COSTA_RICA--Education_2_DesignProcess.png" all="">
                </div>
                <div class="col-sm-8 row">
                    <div class="col-sm-2 text-end">
                        <h1>
                            02
                        </h1>
                    </div>
                    <div class="col-sm-10">
                        <h2>Step 2</h2>
                        <p>
                            Once the whole team was on the same page, designers could develop a first draft which consisted of basic wireframes of how the project would look like. 
                        </p>
                    </div>
                </div>

            </div>

            <div class="container wiki-card mx-auto p-3 row wikicard-6-2-img">
                <div class="col-sm-8 row">
                    <div class="col-sm-2 text-end">
                        <h1>
                            03
                        </h1>
                    </div>
                    <div class="col-sm-10">
                        <h2>Step 3</h2>
                        <p>
                            These basic wireframes would go through various revisions where changes were made, information was eliminated or added until we achieved the best result. 
Once the last revision is done, our designers set off on adding all the final details which are color, vectors, etc.
                        </p>
                    </div>
                </div>

                <div class="col-sm-4 justify-content-md-center">
                    <img class="img-square align-middle " src="https://2021.igem.org/wiki/images/f/f2/T--TEC_COSTA_RICA--Education_3_DesignProcess.png" all="">
                </div>
            </div>

            <div class="container wiki-card mx-auto p-3 row wikicard-6-2-img">
                <div class="col-sm-4 justify-content-md-center">
                    <img class="img-square align-middle " src="https://2021.igem.org/wiki/images/9/93/T--TEC_COSTA_RICA--Education_4_DesignProcess.png" all="">
                </div>
                <div class="col-sm-8 row">
                    <div class="col-sm-2 text-end">
                        <h1>
                            04
                        </h1>
                    </div>
                    <div class="col-sm-10">
                        <h2>Step 4</h2>
                        <p>
                            The final step was to send off the document to be animated by the computer scientist, this means that we can add interaction where it is necessary. Once the interactive works, it can then be sent to Labxchange and launched on their page. 
                        </p>
                    </div>
                </div>

            </div>


        </div>


        <!--  Additional Information  -->
        <div v-if="current_slide_index.index==4" class="container">

            <div class="container wiki-card wikicard-12 mx-auto p-3 row  wikicard-12-double-col">
                <!-- <h2>title </h2>
                   <h3>subtitle </h3> -->

                <p class="">
                    Labxchange believes in the importance of shedding light to peoples stories, especially their path towards a career in STEM. This is why they also feature the  narratives of three of our group members, you can go and read their stories here:
                    <br><br> Even after our participation in iGEM 2021, we hope that our work with Labxchange continues, either our team keeps developing content for their page or we pass on our knowledge to future iGEM teams from Costa Rica. 
                </p>
            </div>
            <div class="row">
                <div class="col-sm-4">

                    <div class="card" style="width:18rem;">
                        <img src="https://2021.igem.org/wiki/images/8/84/T--TEC_COSTA_RICA--Education_9_Jime.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">A Career of Resilience in STEM</h5>
                            <!-- <h6 class="card-subtitle mb-2 text-muted ">Card subtitle</h6> -->
                            <p class="card-text">
                                Jimena Fuentes-Arias: "Have an awesome idea, invest a bunch of time in it just to be told by a PhD Professor that a friend of his had already done that exact research and was planning to publish it later that year. "

                            </p>
                            
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card" style="width:18rem;">
                        <img src="https://2021.igem.org/wiki/images/3/35/T--TEC_COSTA_RICA--Education_7_Andre.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Change and Uncertainty Influence Opportunities in Our Life</h5>
                            <!-- <h6 class="card-subtitle mb-2 text-muted ">Card subtitle</h6> -->
                            <p class="card-text">
                                Andrea Vargas Umaña: "I quickly realized that I would probably never find the place where I would fit right in; it doesn’t exist. Throughout my life, I have absorbed so much from different cultures, it’s impossible to mold myself into the boxes of only one society. "

                            </p>
                            
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">

                    <div class="card" style="width:18rem;">
                        <img src="https://2021.igem.org/wiki/images/4/4f/T--TEC_COSTA_RICA--Education_8_Cami.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">STEM a catalyst for my independence</h5>
                            <!-- <h6 class="card-subtitle mb-2 text-muted ">Card subtitle</h6> -->
                            <p class="card-text">
                                This is the story of a young Latin American woman who, despite all her experiences, is looking for her place in the world. Fortunately she finds passion in asking questions and searching for answers so she ends up in STEM which leads to another adventure.

                            </p>
                            
                        </div>
                    </div>
                </div>



            </div>
        </div>


        <!-- publick engagement -->
        <!-- <div v-if="current_slide_index.index==0" class="container">

            
        </div> -->







    </div>

</body>
<!-- CONTENIDO PRINCIPAL -->

<style>

</style>

<style>
    #globalWrapper {
        font-size: 100% !important;
    }

    #HQ_page h1,
    h2,
    h3,
    h4,
    h5 {
        font-family: var(--bs-body-font-family) !important;
        overflow: visible !important
    }

    #HQ_page p {
        font-family: var(--bs-body-font-family) !important;
        font-size: var(--bs-body-font-size) !important;
    }



    /*
    #HQ_page h1,
    h2,
    h3,
    h4,
    h5 {
     font-family:"Arial",Gadget,sans-serif;
     border-bottom:none;
     font-weight:bold
    }

    #HQ_page p {
        font-family:"Arial",Helvetica,sans-serif;
        font-size:13px;
        text-align:justify
       }
       
    /*body {
        font-family: var(--bs-body-font-family) !important;
    }*/

    .double-text {
        background-color: #1A1A1A;
        -webkit-text-stroke-width: 1.5px;
        -webkit-text-fill-color: rgba(255, 255, 255, 0);
        -webkit-text-stroke-color: rgb(255, 255, 255);
        font-size: 90px;
        font-family: 'Open Sans';
        font-weight: 800 !important;

        text-shadow:
            6px 8px 0px rgb(255, 255, 255);
        opacity: 1;
        text-transform: uppercase;
        letter-spacing: -1.03px;
    }


    .main-title h1 {
        /*font-family: 'Open Sans'; */
        font-weight: 800 !important;
        font-size: 55px;
        -webkit-text-fill-color: #ffffff00;
        -webkit-text-stroke-width: 1.5px;
        -webkit-text-stroke-color: #ffffff;
    }


    .main-title h5 {
        /*font-family: 'Open Sans'; */
        font-size: 15px;
        color: #ffffff;
        width: 40%
    }

    .main-title-bg {
        opacity: 0.9;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: auto;
        z-index: -99;
    }

    .wiki-card {}

    .wiki-card .img-round {
        border-radius: 50%;
        width: 100%;
        height: auto;

    }

    .wiki-card .img-square {
        border-radius: 10px;
        width: 100%;
        height: auto;
    }

    .wiki-card h1 {
        /*margin-right: 10vw;*/
        color: #E2474B;
        font-size: calc(2rem + 1.5vw);
        /*font-size: 56px;*/
        font-weight: bold;
        letter-spacing: -0.8px;
    }

    .wiki-card h2 {
        color: #27262D;
        font-size: 24px;
        font-weight: bold;
        letter-spacing: 0;
        line-height: 33px;
    }

    .wiki-card h3 {
        color: #626262;
        font-size: 18px;
        letter-spacing: -0.2px;
        line-height: 19px;
    }

    .wiki-card p {
        color: #27262D;
        /*line-height: 24px;*/
    }

    .wiki-card p.wiki-card-2columns {
        columns: 2;
    }

    .wiki-tab-btn {
        background-color: #ffffff20 !important;
        border-color: #ffffff00 !important;
        border-radius: 0px;
        margin: 0px;
        padding: .2rem .5rem;
        color: #ffffff;
        font-size: 20px;
        font-family: 'Open Sans';

    }

    .wiki-tab-btn.active {
        border-bottom: 10px solid rgb(255, 0, 0) !important;
        color: #ffffff;
    }

    .wiki-tab-btn:hover {
        color: #ffffff;
    }
</style>




<script>
    var app = new Vue({
        el: '#app',
        data() {
            return {
                isActive: true,
                message: 'hello app',
                current_slide_index: {
                    index: 0
                },
                current_slide_index2: {
                    index: 0
                },
                slides_content:

                    [{
                            title: "Educational Content and Target Audience",
                            content: ""
                        },
                        {
                            title: "LabxChange",
                            content: ""
                        },
                        {
                            title: "Virtual Labs and Interactives",
                            content: ""
                        },
                        {
                            title: "Design Process",
                            content: ""
                        },
                        {
                            title: "Additional Information",
                            content: ""
                        }
                    ],

            }
        },
        methods: {},
        mounted() {}
    })
</script>


</html>
