<html>

<head>

    <link rel="stylesheet" type="text/css"
        href="https://2021.igem.org/wiki/index.php?title=Template:TEC_COSTA_RICA/BootstrapMinCSS&action=raw&ctype=text/css" />

    <!-- Load Vue followed by BootstrapVue -->
    <script
        src="https://2021.igem.org/wiki/index.php?title=Template:TEC_COSTA_RICA/VueJS&action=raw&ctype=text/javascript">
    </script>

    <script
        src="https://2021.igem.org/wiki/index.php?title=Template:TEC_COSTA_RICA/BootstrapJS&action=raw&ctype=text/javascript">
    </script>

    <link href='https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,800;1,800&display=swap' rel='stylesheet'>

</head>


<!-- COMPONENTE EfS -->

<script type="text/x-template" id="engineering_success">
    <div>
        <!-- <h1>ejemplo engineering success</h1> -->
        <div class="container engineering_success_div p-5">
            <div class="tab-content" id="nav-tabContent">
                <div v-for="(item, index) in items" class="tab-pane fade show" v-bind:id="item.id" role="tabpanel"
                    v-bind:class="{ active: index==0 }" aria-labelledby="nav-home-tab">
                    <!-- <div v-for="item in items" class="tab-pane fade show active" v-bind:id="item.ID"id="nav-home" role="tabpanel"  aria-labelledby="nav-home-tab"> -->

                    <div class="position-relative es-container" >
                        
                        <div class="d-flex justify-content-center  row-eq-height position-relative ">


                            <div class="engineering_success_box engineering_success_box-first text-start ">
                                <div class="circular_spacer circular_spacer_1"></div>
                                <!-- <h4>
                                    {{item.design}}
                                </h4> -->
                                <p>{{item.design}}</p>
                            </div>

                            <div class="engineering_success_box text-end">
                                <div class="circular_spacer circular_spacer_2"></div>
                                <!-- <h4>
                                    {{item.build}}
                                </h4> -->
                                <p>{{item.build}}</p>
                            </div>
                        </div>

                        <div
                        class="engineering_success_center_top text-center position-relative ">
                            <img src="https://2021.igem.org/wiki/images/a/a1/T--TEC_COSTA_RICA--Engineering_01_DBTLCycle.png" alt="" style="  border-radius: 50%;" >
                        
                        </div>

                    <div class="d-flex justify-content-center row-eq-height ">
                        <div class="engineering_success_box  text-start">
                            <div class="circular_spacer circular_spacer_3"></div>
                            <!-- <h4>
                                {{item.learn}}
                            </h4> -->
                            <p>{{item.learn}}</p>
                        </div>

                        <div class="engineering_success_box engineering_success_box-last text-end position-relative">
                            <div class="circular_spacer circular_spacer_4"></div>
                            <!-- <h4>
                                {{item.test}}
                            </h4> -->
                            <p>{{item.test}}</p>
                        </div>
                    </div>




                        
                    </div>
                </div>
            </div>
            <nav>
                <div class="nav nav-pills  justify-content-center" id="nav-tab" role="tablist">
                    <button v-for="(item, index) in items" class="btn btn-lg btn-outline-primary"
                        v-bind:class="{ active: index==0 }" id="nav-home-tab" data-bs-toggle="tab"
                        v-bind:data-bs-target="'#'+item.id" type="button" role="tab" v-bind:aria-controls="item.id"
                        v-bind:aria-selected="index==0">{{item.title}}</button>
                </div>
            </nav>
        </div>
    </div>
</script>
<script>
    Vue.component("engineering_fs", {
        props: ['items'],
        template: "#engineering_success"
    });
</script>
<style>
    .engineering_success_div {}

    .engineering_success_div .tab-content {}

    .engineering_success_div .tab-pane {}

    .engineering_success_div .es-container {
        min-height: 400px !important;
    }

    .es_container {
        z-index: -1 !important;
        position: relative;
    }
    .es_container .d-flex{
        z-index: -1;
        position: relative;
    }

    .engineering_success_div .nav-pills {
        margin: 10px;
        padding: 10px;
    }

    .engineering_success_div .btn {
        margin: 10px;
        border-radius: 50px;
    }

    .engineering_success_box {
        /*padding: 10px;*/
        width: 50%;
        min-height: 200px !important;

    }

    .engineering_success_box h4 {
        font-size: 2rem;
    }

    .engineering_success_box p {
        font-size: 1rem;
        margin: 50px 20px 70px 20px;
    }

    .circular_spacer {
        width: 50%;
        height: 100%;
        background-color: #ce1b1b79;
    }

    .circular_spacer_1 {
        clip-path: circle(50% at 100% 100%);
        shape-outside: circle(50% at 100% 100%);
        float: right;
    }

    .circular_spacer_2 {
        clip-path: circle(50% at 0% 100%);
        shape-outside: circle(50% at 0% 100%);
        float: left;
    }

    .circular_spacer_3 {
        clip-path: circle(50% at 100% 0%);
        shape-outside: circle(50% at 100% 0%);
        float: right;
    }

    .circular_spacer_4 {
        clip-path: circle(50% at 0% 0%);
        shape-outside: circle(50% at 0% 0%);
        float: left;
    }


    .engineering_success_box-first {
        border-style: none dashed dashed none;
    }


    .engineering_success_box-last {
        border-style: dashed none none dashed;
    }



    .engineering_success_center_top {
        z-index: 1 !important;
        margin: -100px;
    }
</style>

<!-- COMPONENTE EfS -->

<!-- COMPONENTE CAROUSEL -->
<style>
    .carousel .carousel-caption {
        padding-top: 2rem;
        height: 100%;
    }

    .carousel .carousel-caption h3 {
        font-size: 50px;
        color: white !important;

    }

    .carousel .carousel-caption p {
        /*font-size: 12px;*/
    }

    .page_content_sections .page_content_section {
        display: none;
        padding: 10%;
        padding-top: 20px;
    }

    .page_content_sections .page_content_section_active {
        display: block;
    }
</style>

<script type="text/x-template" id="main_carousel">
    <div>
        <div>
            <div :id="'carouselComponent'+id" class="carousel slide" data-bs-ride="carousel" data-bs-interval="false"  ref="maincarousel"  >


                <ol class="carousel-indicators">
                    <li v-for="(slide, index) in slides_content" :data-bs-target="'#carouselComponent'+id"  v-bind:data-bs-slide-to="index" v-bind:class="{ active: index==0 }"></li>
                </ol>

                <div class="carousel-inner" role="listbox">


                    <div class="carousel-item" v-for="(slide, index) in slides_content"  v-bind:class="{ active: index==0 }">
                        <svg class="bd-placeholder-img" width="100%" height="250px" xmlns="http://www.w3.org/2000/svg"
                            aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
                            <rect width="100%" height="100%" fill="#1A1A1A" />
                        </svg>

                        <div class="carousel-caption text-start">
                            <h3 class="slide_tittle">
                                {{slide.title}}

                            </h3>
                            <p class="slide_text w-75">
                                {{slide.content}}
                            </p>
                        </div>
                    </div>
            </div>


            <button class="carousel-control-prev" type="button" :data-bs-target="'#carouselComponent'+id"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" :data-bs-target="'#carouselComponent'+id"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>

        </div>
    </div>       
</script>


<script>
    Vue.component("main-carousel", {
        data: {},
        props: {
            current_slide: {
                type: Object,
                default: "casa"
            },
            slides_content: {
                type: Array,
                default: []
            },
            id: {
                type: Number,
                default: 0
            }
        },

        template: "#main_carousel",
        methods: {
            updateCurrentSlide: function (event) {
                this.current_slide.index = event.to;
            },

        },
        mounted() {
            this.$refs.maincarousel.addEventListener('slide.bs.carousel', this.updateCurrentSlide);
        }
    });
</script>
<!-- COMPONENTE CAROUSEL -->




<!-- CONTENIDO PRINCIPAL -->

<body>
    <div id="app">


        <div class="position-relative overflow-hidden p-3 p-md-5  text-start  main-title">
            <img class="main-title-bg" src="https://picsum.photos/id/1042/1200/400" alt="">
            <h1>ENGINEERING FOR SUCCESS</h1>
            <h5 class="">In order to successfully implement synthetic biology an engineering framework is necessary. The
                framework used for our project consisted of four stages: design, build, test, and learn.</h5>
        </div>


        <main-carousel v-bind:current_slide="current_slide_index" v-bind:slides_content="slides_content" :id="1">
        </main-carousel>


        <!-- Circuit -->
        <div v-if="current_slide_index.index==0" class="container">
            <engineering_fs v-bind:items="items['circuit']"></engineering_fs>

        </div>


        <!-- MODEL -->
        <div v-if="current_slide_index.index==1" class="container">

            <nav>
                <div class="nav nav-pills  justify-content-center py-4 " id="nav-tab" role="tablist">

                    <button class="btn btn-lg btn-outline-primary active mx-2 my-2" id="nav-ode-tab"
                        data-bs-toggle="tab" data-bs-target="#pills-ode" type="button" role="tab"
                        aria-controls="pills-ode" aria-selected="true" style=" border-radius: 50px;">ODE Model</button>

                    <button class="btn btn-lg btn-outline-primary mx-2 my-2 " id="nav-gil-tab" data-bs-toggle="tab"
                        data-bs-target="#pills-gil" type="button" role="tab" aria-controls="pills-gil"
                        aria-selected="false" style=" border-radius: 50px;">Gillespie Algorithm</button>

                    <button class="btn btn-lg btn-outline-primary mx-2 my-2 " id="nav-max-tab" data-bs-toggle="tab"
                        data-bs-target="#pills-max" type="button" role="tab" aria-controls="pills-max"
                        aria-selected="false" style=" border-radius: 50px;">Maximum Population</button>

                    <button class="btn btn-lg btn-outline-primary mx-2 my-2 " id="nav-prom-tab" data-bs-toggle="tab"
                        data-bs-target="#pills-prom" type="button" role="tab" aria-controls="pills-prom"
                        aria-selected="false" style=" border-radius: 50px;">Promoter Strength</button>

                    <button class="btn btn-lg btn-outline-primary mx-2 my-2 " id="nav-met-tab" data-bs-toggle="tab"
                        data-bs-target="#pills-met" type="button" role="tab" aria-controls="pills-met"
                        aria-selected="false" style=" border-radius: 50px;">Metabolic Burden</button>
                </div>


            </nav>

            <div class="tab-content" id="pills-tabContent">

                <div class="tab-pane fade show active" id="pills-ode" role="tabpanel" aria-labelledby="pills-ode-tab">
                    <engineering_fs v-bind:items="items['model_ode']"></engineering_fs>
                </div>


                <div class="tab-pane fade show " id="pills-gil" role="tabpanel" aria-labelledby="pills-gil-tab">
                    <engineering_fs v-bind:items="items['model_gil']"></engineering_fs>

                </div>


                <div class="tab-pane fade show " id="pills-max" role="tabpanel" aria-labelledby="pills-max-tab">
                    <engineering_fs v-bind:items="items['model_max']"></engineering_fs>

                </div>


                <div class="tab-pane fade show " id="pills-prom" role="tabpanel" aria-labelledby="pills-prom-tab">
                    <engineering_fs v-bind:items="items['model_prom']"></engineering_fs>

                </div>


                <div class="tab-pane fade show " id="pills-met" role="tabpanel" aria-labelledby="pills-met-tab">
                    <engineering_fs v-bind:items="items['model_met']"></engineering_fs>

                </div>

            </div>



        </div>

        <!-- Framework & Software -->
        <div v-if="current_slide_index.index==2" class="container">
            <engineering_fs v-bind:items="items['framework']"></engineering_fs>
        </div>






    </div>

</body>
<!-- CONTENIDO PRINCIPAL -->

<style>

</style>

<style>
    #globalWrapper {
        font-size: 100% !important;
    }

    #HQ_page h1,
    h2,
    h3,
    h4,
    h5 {
        font-family: var(--bs-body-font-family) !important;
        overflow: visible !important
    }

    #HQ_page p {
        font-family: var(--bs-body-font-family) !important;
        font-size: var(--bs-body-font-size) !important;
    }



    /*
    #HQ_page h1,
    h2,
    h3,
    h4,
    h5 {
     font-family:"Arial",Gadget,sans-serif;
     border-bottom:none;
     font-weight:bold
    }

    #HQ_page p {
        font-family:"Arial",Helvetica,sans-serif;
        font-size:13px;
        text-align:justify
       }
       
    /*body {
        font-family: var(--bs-body-font-family) !important;
    }*/

    .double-text {
        background-color: #1A1A1A;
        -webkit-text-stroke-width: 1.5px;
        -webkit-text-fill-color: rgba(255, 255, 255, 0);
        -webkit-text-stroke-color: rgb(255, 255, 255);
        font-size: 90px;
        font-family: 'Open Sans';
        font-weight: 800 !important;

        text-shadow:
            6px 8px 0px rgb(255, 255, 255);
        opacity: 1;
        text-transform: uppercase;
        letter-spacing: -1.03px;
    }


    .main-title h1 {
        /*font-family: 'Open Sans'; */
        font-weight: 800 !important;
        font-size: 55px;
        -webkit-text-fill-color: #ffffff00;
        -webkit-text-stroke-width: 1.5px;
        -webkit-text-stroke-color: #ffffff;
    }


    .main-title h5 {
        /*font-family: 'Open Sans'; */
        font-size: 15px;
        color: #ffffff;
        width: 40%
    }

    .main-title-bg {
        opacity: 0.9;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: auto;
        z-index: -99;
    }

    .wiki-card {}

    .wiki-card .img-round {
        border-radius: 50%;
        width: 100%;
        height: auto;

    }

    .wiki-card .img-square {
        border-radius: 10px;
        width: 100%;
        height: auto;
    }

    .wiki-card h1 {
        /*margin-right: 10vw;*/
        color: #E2474B;
        font-size: calc(2rem + 1.5vw);
        /*font-size: 56px;*/
        font-weight: bold;
        letter-spacing: -0.8px;
    }

    .wiki-card h2 {
        color: #27262D;
        font-size: 24px;
        font-weight: bold;
        letter-spacing: 0;
        line-height: 33px;
    }

    .wiki-card h3 {
        color: #626262;
        font-size: 18px;
        letter-spacing: -0.2px;
        line-height: 19px;
    }

    .wiki-card p {
        color: #27262D;
        /*line-height: 24px;*/
    }

    .wiki-card p.wiki-card-2columns {
        columns: 2;
    }
</style>


<script>
    var app = new Vue({
        el: '#app',
        data() {
            return {
                isActive: true,
                message: 'hello app',
                current_slide_index: {
                    index: 0
                },
                current_slide_index2: {
                    index: 0
                },
                slides_content: [{
                        title: "Suicide Circuit",
                        content: "XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"
                    },
                    {
                        title: "Math Model",
                        content: "We made sure that the DBTL cycle was applied to all the areas of our project, and modeling was no exception. Here we describe how the mathematical models were built upon interaction with professionals, and based on their feedback we progressively improved our models."
                    },
                    {
                        title: "Framework",
                        content: "XXXXXXXXXXXXXXXXXXXXXXXXXXXXX"
                    }

                ],
                items: {
                    "circuit": [{
                            id: 'nav-iteration-cir-1',
                            design: "The first thing we did was decide on our problem, then we brainstormed and researched ways to fulfill the three design requirements for our solution ({Description}). Soon we focused on counter circuits and explored the available alternatives. At this stage we also decided on our chassis: E. coli, because of its extensive characterization and available parts and tools.",
                            build: "Then we used parts discovered during research to create several novel circuit architectures, figuring out their general limitations.",
                            test: "We put our circuits to test by modelling and simulating architectures, creating theoretical scenarios to put them to test, expanding our knowledge of each part’s behavior, etc.",
                            learn: "During this stage we assayed the length of the created options, and evaluated their respective effectiveness and complexity by using the results from the test stage. Finally, we chose a specific architecture to continue our work.",
                            title: "Cycle I"
                        },
                        {
                            id: 'nav-iteration-cir-2',
                            design: "With our architecture design in mind we started looking for specific parts to implement this architecture.",
                            build: "We built and simulated our genetic circuit using math and graphic modelling.",
                            test: "The main test to overcome during this stage was professional feedback from two of the most influential researchers regarding recombinases and counter circuits: PhD. Pakpoom Subsoontorn and PhD. Jérôme Bonnet.",
                            learn: " While impressed by our proposal, they suggested a change from tyrosine to serine recombinases. For this to happen extensive modification was needed…",
                            title: "Cycle II"
                        },

                        {
                            id: 'nav-iteration-cir-3',
                            design: "Once again we went to our notebooks in order to design a new circuit that behaved in the same manner that we had proposed, while including the specific requirements serine recombinases entailed: directionality factors.",
                            build: "We built several circuits with recombinases and RDFs in different locations.",
                            test: " We reached out to the same experts in order to receive feedback regarding our new proposal.",
                            learn: "The architecture was approved, but a new issue was discovered. As many counter circuits, ours only worked with a very specific pulse of arabinose which involved induction of the circuit and after an appropriate amount of time, removal of the inducer media in order to avoid overcount.",
                            title: "Cycle III"
                        },

                        {
                            id: 'nav-iteration-cir-4',
                            design: "During this stage we tackled the overcount issue by researching different regulatory approaches and coming up with a few options of our own.",
                            build: "We built two main circuit proposals.",
                            test: "By simulating and consulting experts we managed to gain some insight on the different positive and negative aspects of our two options.",
                            learn: " Based on the results from the previous step, we chose the best suited architecture, focusing on efficiency and feasibility criteria. Additionally, the reflection at this stage brought up insight over the whole design process, this led us to create the {conceptual framework}.",
                            title: "Cycle IV"
                        },

                        {
                            id: 'nav-iteration-cir-5',
                            design: "For our final design stage we built the circuits again, but now specifically designing them for their expression in E. coli, taking notice of RBS strength, fluorescence reporters and so on and so forth. Also, an assembly plan was designed in order to be flexible and efficient for our proposed characterization: plate reading and flow cytometry ({Wet-Lab}).",
                            build: "When the pieces arrived at our lab we would’ve assembled them according to plan ({Wet-Lab}), using the biobrick system and HindIII restriction enzyme.",
                            test: " Once assembled we would’ve carried out the different fluorescence characterization assays according to {Wet-Lab} ",
                            learn: "If followed, the characterization should have allowed us to obtain information regarding our counter and overcount prevention system’s efficacy and robustness, along with experimental data from which constants and rates could be obtained and applied to mathematical modelling.",
                            title: "Cycle V"
                        }
                    ],
                    "model": [{
                            id: 'nav-iteration-model-1',
                            design: "design model",
                            build: "build",
                            test: "test",
                            learn: "learn",
                            title: "First iteration"
                        },
                        {
                            id: 'nav-iteration-model-2',
                            design: "design2",
                            build: "build2",
                            test: "test2",
                            learn: "learn2",
                            title: "Second iteration"
                        },

                        {
                            id: 'nav-iteration-model-3',
                            design: "design3",
                            build: "build3",
                            test: "test3",
                            learn: "learn3",
                            title: "Third iteration"
                        },

                        {
                            id: 'nav-iteration-model-4',
                            design: "design3",
                            build: "build3",
                            test: "test3",
                            learn: "learn3",
                            title: "Third iteration"
                        },

                        {
                            id: 'nav-iteration-model-5',
                            design: "design3",
                            build: "build3",
                            test: "test3",
                            learn: "learn3",
                            title: "Third iteration"
                        },

                        {
                            id: 'nav-iteration-model-6',
                            design: "design3",
                            build: "build3",
                            test: "test3",
                            learn: "learn3",
                            title: "Third iteration"
                        }
                    ],
                    "framework": [{
                            id: 'nav-iteration-framework-1',
                            design: "In order to compare and validate our circuits architecture, we proposed the design of a software tool that would help us expand our view.",
                            build: "The result was a genetic algorithm for the generation and evaluation of circuits towards the maximization of number of states achieved and reduction of the sequence length.",
                            test: "The genetic algorithm was run a number of iterations to evaluate the output circuits and how the evolutionary process was being carried out.",
                            learn: "We realized that, since the algorithm´s output was the circuit in its initial architecture, the different states (with the corresponding architectures) were being lost. Although the algorithm did model the state changes to evaluate the circuits, it was essential to have the possibility of easily reviewing all of the states. Also, we realized we wanted a more broad generation of circuits, rather than guiding it with the evaluation criteria, since the criteria was proposed to help validate our circuit but wasn´t applicable across users.",
                            title: "Cycle I"
                        },
                        {
                            id: 'nav-iteration-framework-2',
                            design: "Based on what we learned with the genetic algorithm, we decided to set the requirements for our approach.",
                            build: "We made a proposal for a software tool that would cover such requirements.",
                            test: "We presented our proposal to our stakeholders, to further adjust it based on our users needs.",
                            learn: "After the interviews, we realized most experts were not familiarized with the relationship between biology and sequential logic, therefore we decided to make a guide on how to tackle sequentially dependent biological tasks. This guide would also help us to rationally define a software framework to create our software tool.",
                            title: "Cycle II"
                        },

                        {
                            id: 'nav-iteration-framework-3',
                            design: "After validating the lack and need for a conceptual framework sequential biological systems,  we set it´s structure and requirements.",
                            build: "We documented the conceptualizations and ideas we had defined through extensive discussion and research, and further expanded on them following our requirements and structure to set an efficient and modular approach to tackle sequentially dependent biological tasks.",
                            test: "We presented our framework to others in order to evaluate how it helped comprehend sequential biological systems. At the same time we put it to test by designing a software framework based on it.",
                            learn: "Through the valuable feedback obtained and the implementation process of our software tool, we validated and optimized the guide presented by the software framework through detailed descriptions and a workflow map.",
                            title: "Cycle III"
                        },

                        {
                            id: 'nav-iteration-framework-4',
                            design: "For our software framework, we proposed a structure that could be easily implemented as an actual software tool.",
                            build: "We set a workflow for the design of a tool to generate circuits and evaluate their behaviour as state machines by reiterating simulations.",
                            test: "We considered multiple cases to test the workflow´s adaptability for different biological scenarios. We also validated the framework by applying it as a guide for our software.",
                            learn: "We adjusted the scope of each framework´s stage, as well as the organization of parts.",
                            title: "Cycle IV"
                        },

                        {
                            id: 'nav-iteration-framework-5',
                            design: "Once the relations and behavior of the different parts in the conceptual framework were validated, we decided to focus on the design and implementation of a software capable of computing the simulation and validation of the given genetic circuits.",
                            build: "We developed a Python script capable of generating random genetic circuits from a base list of parts (recombinases with its corresponding recognition sites, terminator and promoter) and validating which parts were expressed. A simple formatted color print to console was used to visualize the resulting circuits.",
                            test: "First we had to manually check the generated circuits as well as the results of the expressed parts. But a big focus of this step was also analyzing the scalability of the software as we require it to process huge amounts of circuits efficiently.",
                            learn: "After this first iteration the main conclusions were: Generating a random circuit each time isn't efficient enough, obtaining the permutations (part’s order and orientation) of a base circuit is a better approach. This will also allow us to quantify what percentage of the possible circuits we have processed. The system needs to contemplate the cases in which different parts are expressed by different promoters or even multiple at the same time, making this data available after the validation in order to be used to analyze the circuit 's behavior. Due to the great amount of data generated by the system, it needs to be integrated with an efficient database system.",
                            title: "Cycle V"
                        },

                        {
                            id: 'nav-iteration-framework-6',
                            design: "The decision was taken to package the software as a python library in order to allow users to easily integrate it according to their desired workflow. This also encouraged the separation of the system’s tasks into more decoupled modules such as the generator, validator, database controller, etc.",
                            build: "A code refactoring was performed in order to use the Python data classes and multiple optimized array manipulation, allowing us to process the data stream in a more efficient way. MongoDB was used as the database system due to it’s native capabilities of storing and filtering json documents. Now the generation of circuits depends on the given parts groups, this allows for the recombinase to be directly related to its recognition sites while the complete circuit could contain multiple recombinases of the same type without interference.",
                            test: "We validated multiple use cases with simple circuits of 5 parts up to 8, 11 and then confirming the generalization of the developed process. Utilizing a graphical interface for MongoDB the creation and update of the circuits and parts was validated, while checking that the system was not overriding already processed circuits.",
                            learn: "This interaction brought information about the characteristics of the generated circuits, as for example that about 10% of the ones with one promoter and one recombinase can mutate into a new or already explored sequence when it’s parts are expressed. This points to the need to define the metrics in which to analyze the obtained data as a whole.  Once the database grew in size, the need for a dedicated graphical interface was made clear.This allows for a visual analysis of the circuits and their relationships as directed graphs, including multiple base filters.",
                            title: "Cycle VI"
                        },

                        {
                            id: 'nav-iteration-framework-7',
                            design: "design3",
                            build: "build3",
                            test: "test3",
                            learn: "learn3",
                            title: "Cycle VII"
                        }
                    ],

                    "model_ode": [{
                            id: 'nav-iteration-model-ode-1',
                            design: "The first approach we adopted was an ODE model, because from what we saw it was basically what all people do first. We started searching for models with tyrosine recombinases in iGEM wikis. We based our ODE model on the UT Tokyo iGEM team from 2016.",
                            build: "We modeled the differential equations in Matlab using the solver ode15s",
                            test: "We plot the results however we were not getting useful information from the equations.",
                            learn: "We realized that as our system is unique, we can not use other people´s model and use it as it is, we have to modify and play with the equations given in order to adapt it to follow the steps our genetic circuit does.",
                            title: "Cycle I"
                        },
                        {
                            id: 'nav-iteration-model-ode-2',
                            design: "We tried to modify the equations that we found from the last iteration.",
                            build: "We programmed the equations in Matlab and solved the system.",
                            test: "We held a meeting with experts in recombination PhD´s Pakpoom Subsoontorn and Jerome Bonnet, and they told us that we were using the wrong type of recombinases, so that changed the whole scenario.",
                            learn: "We had to switch to using serine recombinases.",
                            title: "Cycle II"
                        },

                        {
                            id: 'nav-iteration-model-ode-3',
                            design: "We found several papers on serine recombination, but again the equations were not what we were expecting, so we had to adapt them to our system. We came up with the idea of using heaviside functions to delay the expression of certain reactants we needed in order to emulate our system. Also, the equations were made and fitted to an in vitro process, and we needed an in vivo process, so we adapted the integrases and their respective RDF to follow the central dogma of molecular biology.",
                            build: "We programmed and solved the system using Matlab.",
                            test: "We contacted the principal author of the papers we based on, PhD Alexandra Pokhilko to validate our implementation.",
                            learn: "Finally the data obtained was reasonable and provided great insight to our project and served as an excellent input for the lab.",
                            title: "Cycle III"
                        }
                    ],
                    "model_gil": [{
                            id: 'nav-iteration-model-gil-1',
                            design: "We literally had no idea how to start with this model, at the beginning this approach seemed very intimidating because of its technical complexity. We decided to apply the gillespie algorithm, a famous stochastic method to randomize ODE´s.",
                            build: "We tried to apply the gillespie algorithm to our equations without really understanding it, and we programmed it in Matlab.",
                            test: "The results were not very reasonable contrasting them against the deterministic or ODE model.",
                            learn: "We needed help to not only understand the algorithm, but also to apply it to our very own unique equations.",
                            title: "Cycle I"
                        },
                        {
                            id: 'nav-iteration-model-gil-2',
                            design: "We asked for help from PhD Juan Calvo, a mathematician from the University of Costa Rica, to help us understand the algorithm.",
                            build: "We were making some serious mistakes from our last implementation, so we corrected them.",
                            test: "The outputs of the algorithm are in good agreement with the results from the deterministic model.",
                            learn: "Stochastic modeling is helpful to see extreme cases and to model how the system would respond to unusual conditions or with very few molecules.",
                            title: "Cycle II"
                        }

                    ],
                    "model_max": [{
                            id: 'nav-iteration-model-max-1',
                            design: "We developed this model in order to be tightly related to the Markov model probabilities outputs.",
                            build: "We programmed the model in Matlab.",
                            test: "We held a meeting with professor Alexander Ramírez from Costa Rica Institute of Technology, and he told us that he thinks the model is very useful, but we made the assumption that bacteria were at all time in exponential phase, and that was a mistake because in cases in where bacteria can not grow forever for factors such as competition for resources(for example in the lab), bacteria follows the lag, exponential, stationary and finally the death phase in these cases.",
                            learn: "We had to adapt the model to follow the rules of the bacterial growth curve.",
                            title: "Cycle I"
                        }

                    ],
                    "model_prom": [{
                            id: 'nav-iteration-model-prom-1',
                            design: "We were incapable of finding promoter strength as a constant or parameter for the Pnrd promoter, so we decided to create a method to calculate it. We wrote down the general equations for a fluorescent protein(FP) following the central dogma of molecular biology, and based on that we solved the pair of differential equations. Now we came up with an expression of FP dependent on time and three unknown constants. So we looked up a graph or plot with the reported fluorescence of promoters and applied reverse engineering to determine the promoter strength that should have generated that data.",
                            build: "We developed the method with all of its steps in a very detailed document with mathematical derivations and then we programmed the algorithm in Matlab.",
                            test: "We proved the method with a lot of different combinations of 3-points of data, and to our surprise the promoter strength was relatively constants or with little deviation in all of them. We emailed Dr. Jake Beal in order to have his opinion on our method.",
                            learn: "Dr. Beal suggested being careful with units, because we were mixing biological units with arbitrary units of data. Also, he told us to try to prove our method with Anderson promoters that already have established values in biological units.",
                            title: "Cycle I"
                        },
                        {
                            id: 'nav-iteration-model-prom-2',
                            design: "We found a set of data that was exactly what we were needing, 3 points time, fluorescent for each of the Anderson promoters. The data was reported by the iGEM Tacoma Rainmakers team 2019.",
                            build: "We didn't make any changes to the method itself so we leave it as it was.",
                            test: "We applied our method to these promoters to calculate their strength. We contacted Dr. Beal to have his opinion, and told us that it would be nice with we could compare our obtained results with the ones reported in the iGEM  Interlab studies, that are an attempt to standardize measurements in synthetic biology in order to results be reproducible and data to be useful amongst all laboratories in the world.",
                            learn: "The results we obtained from our method matched the relative strength reported by the iGEM Tacoma team, so we concluded that our method is promising.",
                            title: "Cycle II"
                        }

                    ],
                    "model_met": [{
                            id: 'nav-iteration-model-met-1',
                            design: "We were not very sure how to start this model, so we started searching for literature.",
                            build: "We were not capable of doing such a model on our own, however, we found out that the iGEM team from UT Austin of 2019 had already done something like this, so we built upon their work.",
                            test: "We didn't understand the model clearly, so we emailed Dr. Jeffrey Barrick from UT Austin for help.",
                            learn: "He kindly explained to us their model and shared to us a software tool to implement the algorithm. Also we found out the metabolic burden value for some of our pieces that they have already reported.",
                            title: "Cycle I"
                        }

                    ]

                }

            }
        },
        methods: {},
        mounted() {}
    })
</script>


</html>
