{{TEC_COSTA_RICA/navbar}}
{{TEC_COSTA_RICA/custom_CSS}}
<html>

<head>
    <!-- Load Vue followed by BootstrapVue -->
    <script
        src="https://2021.igem.org/wiki/index.php?title=Template:TEC_COSTA_RICA/VueJS&action=raw&ctype=text/javascript">
    </script>
    <link href='https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,800;1,800&display=swap' rel='stylesheet'>
    <script src="https://2020.igem.org/common/MathJax-2.5-latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
</head>





<!-- COMPONENTE CAROUSEL -->
<style>
    .carousel .carousel-caption {
        padding-top: 2rem;
        height: 100%;
    }

    .carousel .carousel-caption h3 {
        font-size: 50px;
        color: white !important;

    }

    .carousel .carousel-caption p {
        /*font-size: 12px;*/
    }

    .page_content_sections .page_content_section {
        display: none;
        padding: 10%;
        padding-top: 20px;
    }

    .page_content_sections .page_content_section_active {
        display: block;
    }
</style>

<script type="text/x-template" id="main_carousel">
    <div>
        <div>
            <div :id="'carouselComponent'+id" class="carousel slide" data-bs-ride="carousel" data-bs-interval="false"  ref="maincarousel"  >


                <ol class="carousel-indicators">
                    <li v-for="(slide, index) in slides_content" :data-bs-target="'#carouselComponent'+id"  v-bind:data-bs-slide-to="index" v-bind:class="{ active: index==0 }"></li>
                </ol>

                <div class="carousel-inner" role="listbox">


                    <div class="carousel-item" v-for="(slide, index) in slides_content"  v-bind:class="{ active: index==0 }">
                        <svg class="bd-placeholder-img" width="100%" height="250px" xmlns="http://www.w3.org/2000/svg"
                            aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
                            <rect width="100%" height="100%" fill="#1A1A1A" />
                        </svg>

                        <div class="carousel-caption text-start">
                            <h3 class="slide_tittle">
                                {{slide.title}}

                            </h3>
                            <p class="slide_text w-75">
                                {{slide.content}}
                            </p>
                        </div>
                    </div>
            </div>


            <button class="carousel-control-prev" type="button" :data-bs-target="'#carouselComponent'+id"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" :data-bs-target="'#carouselComponent'+id"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>

        </div>
    </div>       
</script>


<script>
    Vue.component("main-carousel", {
        data: {},
        props: {
            current_slide: {
                type: Object,
                default: "casa"
            },
            slides_content: {
                type: Array,
                default: []
            },
            id: {
                type: Number,
                default: 0
            }
        },

        template: "#main_carousel",
        methods: {
            updateCurrentSlide: function (event) {
                this.current_slide.index = event.to;
            },

        },
        mounted() {
            this.$refs.maincarousel.addEventListener('slide.bs.carousel', this.updateCurrentSlide);
        }
    });
</script>
<!-- COMPONENTE CAROUSEL -->




<!-- CONTENIDO PRINCIPAL -->

<body>
    <div id="app" class="position-absolute top-0 start-0 w-100">
        <div class="position-relative overflow-hidden pt-5 px-5 text-start  main-title">
            <img class="main-title-bg" style="min-height: 100%; min-width: 100%;"
 src="https://2021.igem.org/wiki/images/6/6c/T--TEC_COSTA_RICA--Header_3.png" alt="">
            <h1>Proof of Concept</h1>
            <h5 class="">To demonstrate the relevance of our project and validate its viability, we chose a software
                tool and a multidimensional characterization of the genetic suicide circuit. These are the proofs of
                concept for our circuit, our conceptual framework and overall take on sequential logic.</h5>
        </div>


        <main-carousel v-bind:current_slide="current_slide_index" v-bind:slides_content="slides_content" :id="1">
        </main-carousel>

        <!-- collaborations -->
        <div v-if="current_slide_index.index==0" class="container">


            <div class="container wiki-card wikicard-12 mx-auto p-3 row  wikicard-12-double-col">
                <h2>Wet Lab</h2>

                <p class="s">
                    While experimental characterization is essential for a complete synthetic gene circuit design to be
                    validated, we explored alternative approaches to sidepass COVID-19 related limitations.
                    <br> Firstly, in our architecture we detailed the use of our parts for related functions, making
                    our approach feasible at least from a theoretical standpoint. Extensive mathematical modelling for
                    the optimization and characterization of our counter circuit has been done as well, its results
                    being reported in the {mathematical model} page. Furthermore, an experimental characterization
                    design for the full circuit was also developed in order to demonstrate its feasibility. Finally, we
                    were able to design and perform some experiments to characterize our most novel device, the counter
                    system, rooted in a fluorescence assay along with in silico modelling, whose results are detailed in
                    {Wet-lab}.
                </p>
            </div>
            <div class="col text-center">

                <a class="btn btn-primary btn-lg " href="https://2021.igem.org/Team:TEC_COSTA_RICA/Wet_Lab"
                    role="button"> Wet Lab</a>
            </div>

            <div class="container wiki-card wikicard-12 mx-auto p-3 row  wikicard-12-double-col">
                <h2>Software</h2>


                <p class="s">
                    As mentioned before, the proposed {software framework} is a guide meant to be implemented in a
                    software tool. Therefore, our proof of concept for the software framework and -by extension- for our
                    conceptual framework, is our software: <b>a python library for the exploration of circuit
                        architectures.</b> This is our <b>specific conceptualization on the abstractions</b> presented
                    by the conceptual and software framework. The objective of the software is the design of genetic
                    circuits that fulfill complex functions which follow sequential logic, and the exploration of
                    architecture alternatives for each specific functionality.
                    <br><br>

                    We implemented the four stages of the software framework: {generation, evaluation, action and
                    analysis} through a python script that generates circuits, processes each state change to generate
                    the child architectures and feeds them to a database.
                    <br><br>

                    Furthermore, the software follows a sequential approach facilitated by its base on the framework,
                    and portrays some of the characteristics previously covered for sequential logic:<br><br>


                    <ol>







                        <li> It facilitates <b>traceability</b> for the circuit's behavior by both storing all of the
                            states
                            as well as their corresponding inputs; this way the progression of states is easily
                            visualized and
                            data such as the activated promoter or potential inducers is linked to the state.</li>


                        <li> It allows <b>data storage</b> by including parts that modify the DNA sequence. </li>


                        <li> As it is based on the {processing workflow}, the circuit's behavior is simulated by
                            reiterating
                            the analysis for the <b>time-ordered progression</b> of states. </li>


                        <li> The software generates all possible alternative states, as a state is generated per
                            functional
                            part.</li>


                        <li> <b>Multipurpose circuits</b>, where multiple states and fates are achieved using few parts
                            and
                            inputs, can be easily designed or filtered.</li>


                        <li> Furthermore, it facilitates <b>troubleshooting</b> for real life applications since, when
                            an
                            <i>in vitro.</i> or <i>in vivo.</i> problem emerges, easy tests (<i>e.g.</i> sequencing) can
                            be
                            performed that, together with the methodology and results, can be matched to the stored
                            information
                            and trace back the issue.</li>


                        <li> The user interface allows the analysis of biological behaviour as <b>decision making
                                networks.</b></li>


                        <li> The software, as an implementation of sequential logic, analyzes and develops <b>biological
                                behavior</b> and processes in a highly straightforward form.</li>


                        <li> A <b>guided design</b> is facilitated through the use of filters to generate and analyze
                            circuits. </li>


                    </ol>

                    <br>
                    The software is also proposed to be highly modular, in order to be used in different areas and
                    easily modifiable. To achieve this, we implemented the use of filters for generation and analysis
                    that assist specific applications. Even further, the script was thoroughly documented to facilitate
                    its application and modification.
                    <br><br>

                    You can see more about how our software works, its scope and the results we obtained on our
                    Software.
                    <br><br>

                </p>
            </div>
            <div class="col text-center">
                <a class="btn btn-primary btn-lg " href="https://2021.igem.org/Team:TEC_COSTA_RICA/Software"
                    role="button"> Software </a>
            </div>










        </div>










    </div>

</body>
<!-- CONTENIDO PRINCIPAL -->



<script>
    var app = new Vue({
        el: '#app',
        data() {
            return {
                isActive: true,
                message: 'hello app',
                current_slide_index: {
                    index: 0
                },
                current_slide_index2: {
                    index: 0
                },
                slides_content:

                    [{
                        title: "Overview",
                        content: ""
                    }],

            }
        },
        methods: {},
        mounted() {}
    })
</script>


</html>
