<html>



<!-- BORRAR -->

<head>

    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>

    <link href='https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,800;1,800&display=swap' rel='stylesheet'>
</head>

<!-- BORRAR -->




<!-- <head>

    <link rel="stylesheet" type="text/css"
        href="https://2021.igem.org/wiki/index.php?title=Template:TEC_COSTA_RICA/BootstrapMinCSS&action=raw&ctype=text/css" />

    <script
        src="https://2021.igem.org/wiki/index.php?title=Template:TEC_COSTA_RICA/VueJS&action=raw&ctype=text/javascript">
    </script>

    <script
        src="https://2021.igem.org/wiki/index.php?title=Template:TEC_COSTA_RICA/BootstrapJS&action=raw&ctype=text/javascript">
    </script>

    <link href='https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,800;1,800&display=swap' rel='stylesheet'>

</head> -->






<!-- COMPONENTE CAROUSEL -->
<style>
    .carousel .carousel-caption {
        padding-top: 2rem;
        height: 100%;
    }

    .carousel .carousel-caption h3 {
        font-size: 50px;
        color: white !important;

    }

    .carousel .carousel-caption p {
        /*font-size: 12px;*/
    }

    .page_content_sections .page_content_section {
        display: none;
        padding: 10%;
        padding-top: 20px;
    }

    .page_content_sections .page_content_section_active {
        display: block;
    }
</style>

<script type="text/x-template" id="main_carousel">
    <div>
        <div>
            <div :id="'carouselComponent'+id" class="carousel slide" data-bs-ride="carousel" data-bs-interval="false"  ref="maincarousel"  >


                <ol class="carousel-indicators">
                    <li v-for="(slide, index) in slides_content" :data-bs-target="'#carouselComponent'+id"  v-bind:data-bs-slide-to="index" v-bind:class="{ active: index==0 }"></li>
                </ol>

                <div class="carousel-inner" role="listbox">


                    <div class="carousel-item" v-for="(slide, index) in slides_content"  v-bind:class="{ active: index==0 }">
                        <svg class="bd-placeholder-img" width="100%" height="250px" xmlns="http://www.w3.org/2000/svg"
                            aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
                            <rect width="100%" height="100%" fill="#1A1A1A" />
                        </svg>

                        <div class="carousel-caption text-start">
                            <h3 class="slide_tittle">
                                {{slide.title}}

                            </h3>
                            <p class="slide_text w-75">
                                {{slide.content}}
                            </p>
                        </div>
                    </div>
            </div>


            <button class="carousel-control-prev" type="button" :data-bs-target="'#carouselComponent'+id"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" :data-bs-target="'#carouselComponent'+id"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>

        </div>
    </div>       
</script>


<script>
    Vue.component("main-carousel", {
        data: {},
        props: {
            current_slide: {
                type: Object,
                default: "casa"
            },
            slides_content: {
                type: Array,
                default: []
            },
            id: {
                type: Number,
                default: 0
            }
        },

        template: "#main_carousel",
        methods: {
            updateCurrentSlide: function (event) {
                this.current_slide.index = event.to;
            },

        },
        mounted() {
            this.$refs.maincarousel.addEventListener('slide.bs.carousel', this.updateCurrentSlide);
        }
    });
</script>
<!-- COMPONENTE CAROUSEL -->




<!-- CONTENIDO PRINCIPAL -->

<body>
    <div id="app">


        <div class="position-relative overflow-hidden p-3 p-md-5  text-start  main-title">
            <img class="main-title-bg" src="https://picsum.photos/id/1042/1200/400" alt="">
            <h1>Software</h1>
            <h5 class="">We developed a software tool for the design and assessment of genetic circuits from a sequential logic standpoint. We looked to expand our objectives, empower others in the iGEM and scientific community, and advance the field of synthetic biology.</h5>
        </div>


        <main-carousel v-bind:current_slide="current_slide_index" v-bind:slides_content="slides_content" :id="1">
        </main-carousel>

        <!-- overview -->
        <div v-if="current_slide_index.index==0" class="container">


            <div class="container wiki-card wikicard-12 mx-auto p-3 row  wikicard-12-double-col">
                <h2>Inspiration</h2>

                <p class="">
                    The idea for our software was born from our {genetic suicide circuit}, as we realized a computational method would help us turn the <b>design process into a more efficient</b> one and <b>expand our overall possibilities.</b> By automatizing the process of the circuit generation, we would optimize the time required, eliminate the designer's bias and achieve a number and diversity of circuits not possible by non-computational methods. By extension, this would help us <b>compare and validate our design, encompass more functions,</b> besides a counter, <b>and enable others</b> in diverse areas to expand their toolbox. 
<br>

                </p>
            </div>
            <div class="container wiki-card wikicard-12 mx-auto p-3 row  wikicard-12-double-col">
                <h2>Description</h2>

                <p class="">
                    Our software consists of a python library that <b>generates circuits</b> and <b>processes each state change</b>, with an integrated database of the generated state machines, and a user interface for <b>visualization and further analysis</b>. The generation of circuits includes base parameters to guide it towards the desired application or purpose. For the processing of state changes, each of the expressed parts performs their functions which generates a different child circuit, in order to consider all possible scenarios. The database works by storing a circuit's ID and its parts' information. The data can then be extracted, or visualized and filtered in a user interface through a graph where each node represents a circuit's state, and multiple filters for analysis. For an in detail explanation of the complete software you can go to {Software Description}.
<br>

                </p>
            </div>
            <div class="container wiki-card wikicard-12 mx-auto p-3 row  wikicard-12-double-col">
                <h2>Objective</h2>

                <p class="">
                    The objective of the software is the <b>design of genetic circuits for complex functions that follow sequential logic</b>, and the <b>exploration of architecture alternatives</b> for specific functionalities.
<br>

                </p>
            </div>



        </div>




        <!-- Scope -->
        <div v-if="current_slide_index.index==1" class="container">



            <div class="container wiki-card wikicard-12 mx-auto p-3 row  wikicard-12-double-col">
                <img src="https://2021.igem.org/wiki/images/5/57/T--TEC_COSTA_RICA--Software_01_IconoUserFriendly.png" alt="" style="max-width:150px;max-height:150px;">
                <h2>1. User friendly</h2>

                <p class="">
                    Since our goal for the software framework is its implementation in multiple areas, we decided it was necessary for it to be easy to interact with. We first help the user understand through the grounding concepts set in the conceptual framework, and the overall software structure, explained in the software framework. Both tools set the base for the software and complement it. Moreover, in this wiki and in the user manual the user can find a thorough guide for the use and modification of the software. The software uses python language, a ???? language, in order to be easily run and modified by users with little knowledge in programming; meanwhile, the user interface allows the visualization of the data without having to interact with the rest of the code.
<br>

                </p>


            </div>

            <div class="container wiki-card wikicard-12 mx-auto p-3 row  wikicard-12-double-col">
                <img src="https://2021.igem.org/wiki/images/1/1d/T--TEC_COSTA_RICA--Software_02_IconoOpenSource.png" alt="" style="max-width:150px;max-height:150px;">
                <h2>2. Open source</h2>

                <p class="">
                    We made the code available in github for its application and modification. Even though the software is a tool ready for use, we encourage our users to build upon it by adding new parts, filters and other modifications. This is facilitated by the documentation and {software description} where we explain in detail how to modify the code. We aim to offer the users a modular tool that can be implemented and personalized in ways that transcend our initial approach. 
<br>

                </p>


            </div>

            <div class="container wiki-card wikicard-12 mx-auto p-3 row  wikicard-12-double-col">
                <img src="https://2021.igem.org/wiki/images/f/fa/T--TEC_COSTA_RICA--Software_03_IconoApproach.png" alt="" style="max-width:150px;max-height:150px;">
                <h2>3. In-depth approach</h2>

                <p class="">
                    The software consists of an approach for in-depth understanding as it is built upon a conceptual framework and a software framework. This integration allows the user to first understand sequential logic, its application in biology, our proposal, and its characteristics and advantages. 
<br>

                </p>


            </div>

            <div class="container wiki-card wikicard-12 mx-auto p-3 row  wikicard-12-double-col">
                <img src="https://2021.igem.org/wiki/images/0/08/T--TEC_COSTA_RICA--Software_04_IconoPatternID.png" alt="" style="max-width:150px;max-height:150px;">
                <h2>4. Complex pattern identification</h2>

                <p class="">
                    Through the software, circuits that present specific expression patterns can be found. These can be expression or induction patterns, both of which are tightly related to biological sequential systems. Moreover, our chosen wide design facilitated the discovery of complex patterns, especially because of the exploration of all possible scenarios generated by the expressed parts.
<br>

                </p>


            </div>







        </div>

        <!-- interviews -->
        <div v-if="current_slide_index.index==2" class="container">

            <div class="accordion" id="accordionPanelsStayOpenSecription">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="panelsStayOpen-headingDescription1">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#panelsStayOpen-collapseDescription1" aria-expanded="true"
                            aria-controls="panelsStayOpen-collapseDescription1">
                            Generation
                        </button>

                    </h2>
                    <div id="panelsStayOpen-collapseDescription1" class="accordion-collapse collapse show"
                        aria-labelledby="panelsStayOpen-headingDescription1">
                        <div class="accordion-body">
                            The generation consists of the creation of a base circuit using lists that define the parts and number of each one (whether twins or only the same kind). Next, the base circuit goes through permutations of parts’ direction and position to generate a new circuit. After completing the cycle, a new circuit can be generated with a different permutation; this can be repeated as many times as desired.
<br>



                            <div class="container wiki-card wikicard-12 mx-auto p-3 row  wikicard-12-double-col">
                                <h2>title </h2>

                                <p class="">
                                    CODIGO
                                </p>
                            </div>





                        </div>
                    </div>



                </div>



                <div class="accordion-item">
                    <h2 class="accordion-header" id="panelsStayOpen-headingDescription2">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#panelsStayOpen-collapseDescription2" aria-expanded="false"
                            aria-controls="panelsStayOpen-collapseDescription2">
                            Validation
                        </button>
                    </h2>
                    <div id="panelsStayOpen-collapseDescription2" class="accordion-collapse collapse"
                        aria-labelledby="panelsStayOpen-headingDescription2">
                        <div class="accordion-body">
                            Once the circuit is defined, it is then traversed in both directions. When a promoter is encountered, the algorithm lists each of the following coding parts that have the same directionality as the promoter. When it finds a terminator or any other part that stops transcription, it stops and starts again until a new promoter is found. The list of expressed parts also contains the promoter(s) that enabled the transcription.
<br>


                            <div class="container wiki-card wikicard-12 mx-auto p-3 row  wikicard-12-double-col">
                                <h2>title </h2>

                                <p class="">
                                    CODIGO
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header" id="panelsStayOpen-headingDescription3">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#panelsStayOpen-collapseDescription3" aria-expanded="false"
                            aria-controls="panelsStayOpen-collapseDescription3">
                            Action
                        </button>
                    </h2>
                    <div id="panelsStayOpen-collapseDescription3" class="accordion-collapse collapse"
                        aria-labelledby="panelsStayOpen-headingDescription3">
                        <div class="accordion-body">
                            Each part of the expressed list goes through the actuator. First, it confirms the presence of the required parts or their expression, depending on what is necessary. After the validation, the function is executed. Lastly, the output ??? is given a ????. An output state is generated per each part's execution.
<br>


                            <div class="container wiki-card wikicard-12 mx-auto p-3 row  wikicard-12-double-col">
                                <h2>title </h2>

                                <p class="">
                                    CODIGO
                                </p>
                            </div>



                        </div>
                    </div>
                </div>


                <div class="accordion-item">
                    <h2 class="accordion-header" id="panelsStayOpen-headingDescription4">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#panelsStayOpen-collapseDescription4" aria-expanded="false"
                            aria-controls="panelsStayOpen-collapseDescription4">
                            Database


                        </button>


                    </h2>
                    <div id="panelsStayOpen-collapseDescription4" class="accordion-collapse collapse"
                        aria-labelledby="panelsStayOpen-headingDescription4">
                        <div class="accordion-body">
                            All of the circuits generated are saved with _____. <br>

                            <div class="container wiki-card wikicard-12 mx-auto p-3 row  wikicard-12-double-col">
                                <h2>title </h2>

                                <p class="">
                                    CODIGO
                                </p>
                            </div>


                            <div class="container wiki-card wikicard-12 mx-auto p-3 row  wikicard-12-double-col">
                                <p class="">
                                    To the database, we coupled a user interface for the visualization and filtering of circuits.
<br>
In the user interface, all of the circuits are shown as nodes or vertices of a graph.<br>
                                </p>
                            </div>

                            <div class="container  mx-auto p-3 wikicard-12-img">
                                <div class="text-center">
                                    <img src="https://2021.igem.org/wiki/images/2/24/T--TEC_COSTA_RICA--Software_05_GuiInfoView.gif" alt="" style="width:100% center"
                                        class="w-75">
                                </div>
                            </div>

                            <div class="container wiki-card wikicard-12 mx-auto p-3 row  wikicard-12-double-col">
                                <p class="">
                                    Each node can be selected to show different information related to it. The menu on the right shows the data on the selected circuit, its structure is shown at the bottom of the page, and the menu on left shows the implemented filters.
<br>

                                </p>
                            </div>

                            <div class="container  mx-auto p-3 wikicard-12-img">
                                <div class="text-center">
                                    <img src="//placehold.co/1200x600?text=snippet" alt="" style="width:100% center"
                                        class="w-75">
                                </div>
                            </div>

                            <div class="container wiki-card wikicard-12 mx-auto p-3 row  wikicard-12-double-col">
                                <p class="">
                                    The menu on the right shows the circuit´s ID, which can then be matched to the rest of the database, the list of parts, each with the corresponding index (position in the sequence starting from 0), orientation (forward or reverse strand), type (promoter, terminator, gene, etc), and whether it is a coding part or not. For the parts that get expressed, the promoter(s) that enables the transcription is linked.
<br>

                                </p>
                            </div>

                            <div class="container  mx-auto p-3 wikicard-12-img">
                                <div class="text-center">
                                    <img src="//placehold.co/1200x600?text=snippet" alt="" style="width:100% center"
                                        class="w-75">
                                </div>
                            </div>

                            <div class="container wiki-card wikicard-12 mx-auto p-3 row  wikicard-12-double-col">
                                <p class="">
                                    The circuit's structure is represented using the SBOL standard visual symbols.
<br>

                                </p>
                            </div>

                            <div class="container  mx-auto p-3 wikicard-12-img">
                                <div class="text-center">
                                    <img src="https://2021.igem.org/wiki/images/a/ac/T--TEC_COSTA_RICA--Software_06_GuiGraphView.gif" alt="" style="width:100% center"
                                        class="w-75">
                                </div>
                            </div>

                            <div class="container wiki-card wikicard-12 mx-auto p-3 row  wikicard-12-double-col">
                                <p class="">
                                    The filter panel includes a text field button to change the names of the parts of the specific selected circuit. The user types the default name of the part they want to change and the new name they want to give it.
<br>

                                </p>
                            </div>

                            <div class="container  mx-auto p-3 wikicard-12-img">
                                <div class="text-center">
                                    <img src="//placehold.co/1200x600?text=snippet" alt="" style="width:100% center"
                                        class="w-75">
                                </div>
                            </div>

                            <div class="container wiki-card wikicard-12 mx-auto p-3 row  wikicard-12-double-col">
                                <p class="">
                                    Another text field button allows the user to filter the circuits based on the inclusion of defined parts, the number of times they are present, the position in the circuit, and a drop-down for whether each is expressed or not. However, every parameter is optional
<br>

                                </p>
                            </div>

                            <div class="container  mx-auto p-3 wikicard-12-img">
                                <div class="text-center">
                                    <img src="https://2021.igem.org/wiki/images/b/b8/T--TEC_COSTA_RICA--Software_07_GuiFilterView.gif" alt="" style="width:100% center"
                                        class="w-75">
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>




        </div>




        <!-- results -->
        <div v-if="current_slide_index.index==3" class="container">



            <div class="container wiki-card wikicard-12 mx-auto p-3 row  wikicard-12-double-col">

                <p class="">
                    We analyzed the number of generated circuits, the capacity to generate multiple states (whether cyclic or not), the occurrence of alternative states, and the connections or repetition between states of different circuits.
                </p>
            </div>

            <div class="container  mx-auto p-3 wikicard-12-img">
                <div class="text-center">
                    <img src="//placehold.co/1200x600?text=snippet" alt="" style="width:100% center" class="w-75">
                </div>
            </div>




        </div>


        <!-- publick engagement -->
        <!-- <div v-if="current_slide_index.index==0" class="container">

            
        </div> -->







    </div>

</body>
<!-- CONTENIDO PRINCIPAL -->

<style>

</style>

<style>
    #globalWrapper {
        font-size: 100% !important;
    }

    #HQ_page h1,
    h2,
    h3,
    h4,
    h5 {
        font-family: var(--bs-body-font-family) !important;
        overflow: visible !important
    }

    #HQ_page p {
        font-family: var(--bs-body-font-family) !important;
        font-size: var(--bs-body-font-size) !important;
    }



    /*
    #HQ_page h1,
    h2,
    h3,
    h4,
    h5 {
     font-family:"Arial",Gadget,sans-serif;
     border-bottom:none;
     font-weight:bold
    }

    #HQ_page p {
        font-family:"Arial",Helvetica,sans-serif;
        font-size:13px;
        text-align:justify
       }
       
    /*body {
        font-family: var(--bs-body-font-family) !important;
    }*/

    .double-text {
        background-color: #1A1A1A;
        -webkit-text-stroke-width: 1.5px;
        -webkit-text-fill-color: rgba(255, 255, 255, 0);
        -webkit-text-stroke-color: rgb(255, 255, 255);
        font-size: 90px;
        font-family: 'Open Sans';
        font-weight: 800 !important;

        text-shadow:
            6px 8px 0px rgb(255, 255, 255);
        opacity: 1;
        text-transform: uppercase;
        letter-spacing: -1.03px;
    }


    .main-title h1 {
        /*font-family: 'Open Sans'; */
        font-weight: 800 !important;
        font-size: 55px;
        -webkit-text-fill-color: #ffffff00;
        -webkit-text-stroke-width: 1.5px;
        -webkit-text-stroke-color: #ffffff;
    }


    .main-title h5 {
        /*font-family: 'Open Sans'; */
        font-size: 15px;
        color: #ffffff;
        width: 40%
    }

    .main-title-bg {
        opacity: 0.9;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: auto;
        z-index: -99;
    }

    .wiki-card {}

    .wiki-card .img-round {
        border-radius: 50%;
        width: 100%;
        height: auto;

    }

    .wiki-card .img-square {
        border-radius: 10px;
        width: 100%;
        height: auto;
    }

    .wiki-card h1 {
        /*margin-right: 10vw;*/
        color: #E2474B;
        font-size: calc(2rem + 1.5vw);
        /*font-size: 56px;*/
        font-weight: bold;
        letter-spacing: -0.8px;
    }

    .wiki-card h2 {
        color: #27262D;
        font-size: 24px;
        font-weight: bold;
        letter-spacing: 0;
        line-height: 33px;
    }

    .wiki-card h3 {
        color: #626262;
        font-size: 18px;
        letter-spacing: -0.2px;
        line-height: 19px;
    }

    .wiki-card p {
        color: #27262D;
        /*line-height: 24px;*/
    }

    .wiki-card p.wiki-card-2columns {
        columns: 2;
    }
</style>




<script>
    var app = new Vue({
        el: '#app',
        data() {
            return {
                isActive: true,
                message: 'hello app',
                current_slide_index: {
                    index: 0
                },
                current_slide_index2: {
                    index: 0
                },
                slides_content:

                    [{
                            title: "Overview",
                            content: "A tool for exploring the design space of synthetic gene circuits' architectures"
                        },
                        {
                            title: "Scope",
                            content: "What we set to achieve with our tool"
                        },
                        {
                            title: "Software Description",
                            content: "Here we present a detailed and comprehensible exposition of the actual software, how to expand it, and its users guide"
                        },
                        {
                            title: "Results",
                            content: "An analysis on the generated circuits to evaluate the software's performance, explore the generated circuits, and analyze different parameters' effect on the results."
                        }
                    ],

            }
        },
        methods: {},
        mounted() {}
    })
</script>


</html>
