<html>



<!-- BORRAR -->

<head>

    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>

    <link href='https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,800;1,800&display=swap' rel='stylesheet'>
</head>

<!-- BORRAR -->




<!-- <head>

    <link rel="stylesheet" type="text/css"
        href="https://2021.igem.org/wiki/index.php?title=Template:TEC_COSTA_RICA/BootstrapMinCSS&action=raw&ctype=text/css" />

    <script
        src="https://2021.igem.org/wiki/index.php?title=Template:TEC_COSTA_RICA/VueJS&action=raw&ctype=text/javascript">
    </script>

    <script
        src="https://2021.igem.org/wiki/index.php?title=Template:TEC_COSTA_RICA/BootstrapJS&action=raw&ctype=text/javascript">
    </script>

    <link href='https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,800;1,800&display=swap' rel='stylesheet'>

</head> -->






<!-- COMPONENTE CAROUSEL -->
<style>
    .carousel .carousel-caption {
        padding-top: 2rem;
        height: 100%;
    }

    .carousel .carousel-caption h3 {
        font-size: 50px;
        color: white !important;

    }

    .carousel .carousel-caption p {
        /*font-size: 12px;*/
    }

    .page_content_sections .page_content_section {
        display: none;
        padding: 10%;
        padding-top: 20px;
    }

    .page_content_sections .page_content_section_active {
        display: block;
    }
</style>

<script type="text/x-template" id="main_carousel">
    <div>
        <div>
            <div :id="'carouselComponent'+id" class="carousel slide" data-bs-ride="carousel" data-bs-interval="false"  ref="maincarousel"  >


                <ol class="carousel-indicators">
                    <li v-for="(slide, index) in slides_content" :data-bs-target="'#carouselComponent'+id"  v-bind:data-bs-slide-to="index" v-bind:class="{ active: index==0 }"></li>
                </ol>

                <div class="carousel-inner" role="listbox">


                    <div class="carousel-item" v-for="(slide, index) in slides_content"  v-bind:class="{ active: index==0 }">
                        <svg class="bd-placeholder-img" width="100%" height="250px" xmlns="http://www.w3.org/2000/svg"
                            aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
                            <rect width="100%" height="100%" fill="#1A1A1A" />
                        </svg>

                        <div class="carousel-caption text-start">
                            <h3 class="slide_tittle">
                                {{slide.title}}

                            </h3>
                            <p class="slide_text w-75">
                                {{slide.content}}
                            </p>
                        </div>
                    </div>
            </div>


            <button class="carousel-control-prev" type="button" :data-bs-target="'#carouselComponent'+id"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" :data-bs-target="'#carouselComponent'+id"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>

        </div>
    </div>       
</script>


<script>
    Vue.component("main-carousel", {
        data: {},
        props: {
            current_slide: {
                type: Object,
                default: "casa"
            },
            slides_content: {
                type: Array,
                default: []
            },
            id: {
                type: Number,
                default: 0
            }
        },

        template: "#main_carousel",
        methods: {
            updateCurrentSlide: function (event) {
                this.current_slide.index = event.to;
            },

        },
        mounted() {
            this.$refs.maincarousel.addEventListener('slide.bs.carousel', this.updateCurrentSlide);
        }
    });
</script>
<!-- COMPONENTE CAROUSEL -->




<!-- CONTENIDO PRINCIPAL -->

<body>
    <div id="app">


        <div class="position-relative overflow-hidden p-3 p-md-5  text-start  main-title">
            <img class="main-title-bg" src="https://2021.igem.org/wiki/images/2/22/T--TEC_COSTA_RICA--Header_4.png"
                alt="">
            <h1>Wetlab</h1>
            <h5 class="">The wet-lab characterization of our genetic suicide circuit serves as a proof of concept for
                the proposal presented in the description.</h5>
        </div>


        <main-carousel v-bind:current_slide="current_slide_index" v-bind:slides_content="slides_content" :id="1">
        </main-carousel>

        <!-- overview -->
        <div v-if="current_slide_index.index==0" class="container">


            <div class="container wiki-card wikicard-12 mx-auto p-3 row  wikicard-12-double-col">
                <h2>Goals </h2>

                <p class="">
                    We set three main goals for our wet-lab work:
                </p>

                <p class="">
                    <ul>
                        <li>Characterizing the behavior of our counter both associated to pBAD and pnrd.</li>
                        <li>Characterizing the behavior of our overcount prevention system on itself and associated with
                            the counter circuit.</li>
                        <li>Obtaining our own recombination rate for the two selected recombinases for the optimization
                            of the math model.</li>
                    </ul>
                </p>
            </div>
            <div class="container wiki-card wikicard-12 mx-auto p-3 row  wikicard-12-double-col">
                <h2>Constructs</h2>

                <p class="">
                    Hence, four separate constructs were designed:
                </p>
                <p class="">
                    <ul>
                        <li>Counter circuit</li>
                        <li>Overcount prevention circuit</li>
                        <li>Recombinase 1 characterization circuit</li>
                        <li>Recombinase 2 characterization circuit</li>
                    </ul>
                </p>
            </div>

            <div class="container wiki-card wikicard-12 mx-auto p-3 row  wikicard-12-double-col">

                <p class="">
                    You can check out the parts we used in Parts.
                </p>

            </div>



        </div>




        <!-- Scope -->
        <div v-if="current_slide_index.index==1" class="container">



            <div class="container wiki-card wikicard-12 mx-auto p-3 row  wikicard-12-double-col">
                <h2>Description</h2>

                <p class="">
                    Our math modelling was used as reference for the specific RBS-sequence pairings, specifically
                    regarding the RDF - recombinase ratio as well as the recombinase order.

                    The biobrick system was chosen because of our need to use parts from the distribution making the
                    assembly incompatible with either golden gate and gibson methods.

                    A restriction site for HindIII was added to the counter and overcount constructs in order to make
                    them compatible with each other and for different promoters to be tried out with the counter system.
                    This also allows further modifications and optimizations.

                </p>


            </div>

            <div class="container wiki-card wikicard-12 mx-auto p-3 row  wikicard-12-double-col">
                <h2>Fragments</h2>

                <p class="">
                    The fragments designed for this assembly are: <br>

                    COUNT1: pBAD + site1A + site2A + BXB1 <br>

                    COUNT2: RFP + site1B + BXB1 RDF rev <br>

                    COUNT3: TP901 + GFP + site2B + TP901 RDF rev <br>

                    OVERC1: ACT + OPER SEC + RFP <br>

                    OVERC2: IND PROM+ REPRESS <br>

                    REC1: BXB1 <br>

                    RECRDF1: BXB1 + BXB1 RDF <br>

                    REC2: TP901 <br>

                    RECRDF2: TP901 + TP901 RDF <br>

                    RECS RFP: site1A + site2A + RFP+GFP rev + site1B + site2B <br>
                </p>


            </div>


            <div class="container wiki-card wikicard-12 mx-auto p-3 row  wikicard-12-double-col">
                <h2>Assembly Flowchart</h2>

                <p class="">
                    The assembly flowchart is as follows:
                </p>


            </div>


            <div class="container  mx-auto p-3 wikicard-12-img">

                <div class="text-center">
                    <img src="https://2021.igem.org/wiki/images/d/d8/T--TEC_COSTA_RICA--WetLab_01_AssemblyFlowchart.png"
                        alt="" style="width:100% center" class="w-75">
                </div>
            </div>


            <div class="container wiki-card wikicard-12 mx-auto p-3 row  wikicard-12-double-col">

                <p class="">
                    The parts will be replicated in a high copy plasmid, but a low-copy plasmid was chosen for
                    characterization based on the importance of reducing the noise associated with having multiple
                    copies of the fluorescent proteins’ sequence to be recombined. <i>E. coli </i> will be our chassis
                    because of the previously executed recombinase characterization and counter circuits
                    implementations.

                    Strain BL21 was chosen because of its notable productivity in recombinant protein production and low
                    protease activity (Kim et al., 2017)).

                    For the assembly digestion, ligation, chemically competent cells production, and chemical
                    transformation and colony PCR methodologies will be executed. You can find these in Protocols.

                </p>
            </div>








        </div>





        <!-- experimental -->
        <div v-if="current_slide_index.index==2" class="container">

            <div class="container wiki-card wikicard-12 mx-auto p-3 row  wikicard-12-double-col">

                <p class="">
                    For the fluorescence characterization we propose four different approaches:
                </p>
            </div>


            <div class="container wiki-card wikicard-12 mx-auto p-3 row  wikicard-12-double-col">
                <h2>Plate Reader </h2>

                <p class="">
                    Characterization of fluorescent protein expression via plate reader is a very common approach as
                    shown by Beal et al. (2021). The main advantage is that even when our different constructs are
                    designed to give us different pieces of information they can all be characterized at the same time,
                    given that this is a high throughput methodology that allows bulk measurements (Fedorec et al.,
                    2020), by simply inducing with arabinose and setting up the plate reader to the right wavelength
                    according to the fluorescent protein of interest. The fact that even three different wavelengths
                    could be processed at a time was a great advantage, since our plan consisted of inducing our counter
                    circuit and continuously measuring the fluorescence of the three selected proteins, which, if
                    working correctly, should be expressed sequentially as shown in description.
                    This would also allow us to try out different arabinose concentration and induction times in order
                    to normalize the pulse needed by our counter in order to count a single time. In the case of the
                    pnrd promoter, which is endogenously induced, the plate reader should be able to capture the
                    different expression peaks. Finally, the recombination rate of our recombinases can be easily
                    extracted from this experimental procedure.
                </p>
            </div>

            <div class="container  mx-auto p-3 wikicard-12-img">

                <div class="text-center">
                    <img src="https://2021.igem.org/wiki/images/0/0f/T--TEC_COSTA_RICA--WetLab_02_PlateReaderIcon.png"
                        alt="" style="width:100% center" class="w-75">
                </div>
            </div>

            <div class="container wiki-card wikicard-12 mx-auto p-3 row  wikicard-12-double-col">
                <h2>Flow Cytometry </h2>

                <p class="">
                    Flow cytometry is also a very usual procedure to measure fluorescence (Beal et al., 2021), and, as
                    with plate reading, behaves with the versatility needed to characterize our different constructs.
                    This technique also presents the added bonus of segregating each specific cell by its expression
                    phenotype (McKinnon, 2018), which allows the “detailed analysis of complex populations in short
                    periods of time” (Adan et al., 2017). This technique will grant a much more accurate reading of our
                    circuit’s behavior and probability profile, even allowing to directly correlate the obtained results
                    with the Markov modelling of our counter circuit.
                </p>
            </div>

            <div class="">

                <div class="text-center">
                    <img src="https://2021.igem.org/wiki/images/c/cf/T--TEC_COSTA_RICA--WetLab_03_FlowCytometryIcon.png"
                        alt="" style="width:100% center" class="w-75">
                </div>
            </div>

            <div class="container wiki-card wikicard-12 mx-auto p-3 row  wikicard-12-double-col">
                <h2>Live Cell Imaging </h2>

                <p class="">
                    Finally, live cell imaging is proposed to characterize our counter circuit in a visual manner.
                    Direct observation of fluorescence through microscopy can be very effective to determine live
                    changes on a single cells’ behavior, as shown by Howell et al. (2017), which is what we would expect
                    from our counter circuit.
                </p>
            </div>

            <div class="container  mx-auto p-3 wikicard-12-img">

                <div class="text-center">
                    <img src="https://2021.igem.org/wiki/images/a/a2/T--TEC_COSTA_RICA--WetLab_04_CellImagingIcon.png"
                        alt="" style="width:100% center" class="w-75">
                </div>
            </div>

            <div class="container wiki-card wikicard-12 mx-auto p-3 row  wikicard-12-double-col">
                <h2>DNA sequencing </h2>

                <p class="">
                    DNA sequencing was suggested to us by several of the experts we interviewed, since it’s a direct
                    outlook on the circuit’s state, compared to the indirect measurement obtained by fluorescence
                    readings. For this approach the culture is to be induced and samples taken at different timepoints.
                    After this a plasmid-DNA extraction and PCR amplification of the specific sequence should be
                    performed. The samples would then be sent out to sequence and the results analyzed for qualitative
                    information to be obtained.
                </p>
            </div>

            <div class="container  mx-auto p-3 wikicard-12-img">

                <div class="text-center">
                    <img src="https://2021.igem.org/wiki/images/c/c9/T--TEC_COSTA_RICA--WetLab_05_DNASequencingIcon.png"
                        alt="" style="width:100% center" class="w-75">
                </div>
            </div>

            <div class="container wiki-card wikicard-12 mx-auto p-3 row  wikicard-12-double-col">
                <h2>Data Analysis </h2>

                <p class="">
                    Both plate reading and flow cytometry are quantitative measurements that allow standardization via
                    calibration and their execution can be designed in order to obtain comparable, replicable units
                    (Beal et al., 2018). From these experiments we expect to obtain a behavioral pattern (counter
                    circuit characterization) along with quantitative fluorescence measurements in which generation and
                    degradation of the different fluorescent proteins are evident and allow the procurement of data for
                    our mathematical model (overcount & recombinase characterization). The information obtained from
                    live cell imaging will be used as qualitative visual characterization for our counter circuit.
                    Nonetheless, arabinose concentration and elapsed time will be measured, allowing some data to
                    characterize the induction system of our circuit. The pnrd promoter’s behavior will also be assessed
                    by this mechanism.
                </p>
            </div>


        </div>

        <!-- further -->
        <div v-if="current_slide_index.index==3" class="container">

            <div class="container wiki-card mx-auto p-3 row wikicard-6-2-img">
                <div class="col-sm-6 row">
                    <div class="col-sm-2 text-end">
                        <h1>
                            01
                        </h1>
                    </div>
                    <div class="col-sm-10">
                        <h2> </h2>
                        <p>
                            Metabolic burden of our circuit, as implemented by https://2019.igem.org/Team:Austin_UTexas
                            , who didn’t address recombinases in their study and haven’t established whether the total
                            burden is equal to the sum of each individual part’s burden.
                        </p>
                    </div>
                </div>

                <div class="col-sm-6 row">
                    <div class="col-sm-2 text-end">
                        <h1>
                            02
                        </h1>
                    </div>
                    <div class="col-sm-10">
                        <h2> </h2>
                        <p>
                            Anderson promoter characterization via standardized measurement in order to use as reference
                            input for our promoter strength prediction tool.
                        </p>
                    </div>
                </div>
            </div>

            <div class="container wiki-card mx-auto p-3 row wikicard-6-2-img">
                <div class="col-sm-6 row">
                    <div class="col-sm-2 text-end">
                        <h1>
                            03
                        </h1>
                    </div>
                    <div class="col-sm-10">
                        <h2> </h2>
                        <p>
                            Measurement of synthesis and degradation constants for recombinases, along transcription,
                            translation and degradation rates for these proteins to allow an improved ODE’s model.
                        </p>
                    </div>
                </div>

                <div class="col-sm-6 row">
                    <div class="col-sm-2 text-end">
                        <h1>
                            04
                        </h1>
                    </div>
                    <div class="col-sm-10">
                        <h2> </h2>
                        <p>
                            Evolutionary stability assessment (similarly to Fernández-Rodríguez et al. 2015).
                        </p>
                    </div>
                </div>
            </div>


            <div class="container wiki-card wikicard-12 mx-auto p-3 row  wikicard-12-double-col">

                <p class="">
                    Also, thought was put into possible characterization staging for the implementation of our project.
                </p>
            </div>

            <div class="container wiki-card mx-auto p-3 row wikicard-6-2-img">
                <div class="col-sm-6 row">
                    <div class="col-sm-2 text-end">
                        <h1>
                            01
                        </h1>
                    </div>
                    <div class="col-sm-10">
                        <h2>In vitro behavioral study </h2>
                        <p>
                            Studying the behavior of the engineered organism in similar conditions to the ones it will
                            be subjected to.
                        </p>
                    </div>
                </div>

                <div class="col-sm-6 row">
                    <div class="col-sm-2 text-end">
                        <h1>
                            02
                        </h1>
                    </div>
                    <div class="col-sm-10">
                        <h2>Specific assays directed towards the gain of critical knowledge </h2>
                        <p>
                            Robustness, escape rate, optimal conditions, effectiveness of the desired function, etc.
                        </p>
                    </div>
                </div>
            </div>
            <div class="container wiki-card mx-auto p-3 row wikicard-6-2-img">
                <div class="col-sm-6 row">
                    <div class="col-sm-2 text-end">
                        <h1>
                            03
                        </h1>
                    </div>
                    <div class="col-sm-10">
                        <h2>In vitro interaction study </h2>
                        <p>
                            Understanding the interactions between the organism and some of the key organisms in the
                            environment’s microbiome.
                        </p>
                    </div>
                </div>

                <div class="col-sm-6 row">
                    <div class="col-sm-2 text-end">
                        <h1>
                            04
                        </h1>
                    </div>
                    <div class="col-sm-10">
                        <h2>In vivo (enclosed) interaction study </h2>
                        <p>
                            Looking for the effect the engineered organism has in the environment it’s intended to
                            target under controlled conditions.
                        </p>
                    </div>
                </div>
            </div>
            <div class="container wiki-card mx-auto p-3 row wikicard-6-2-img">
                <div class="col-sm-6 row">
                    <div class="col-sm-2 text-end">
                        <h1>
                            05
                        </h1>
                    </div>
                    <div class="col-sm-10">
                        <h2>In vivo interaction study (open, semi - controlled) </h2>
                        <p>
                            Observing the behavior of the engineered organisms and its repercussions in a
                            semi-controlled context (i.e: waste-water treatment).
                        </p>
                    </div>
                </div>

                <div class="col-sm-6 row">
                    <div class="col-sm-2 text-end">
                        <h1>
                            06
                        </h1>
                    </div>
                    <div class="col-sm-10">
                        <h2>Small in situ study </h2>
                        <p>
                            Direct application of the organism for its intended purpose, small in scale, homogeneous
                            conditions, simple interactions and as isolated as possible.
                        </p>
                    </div>
                </div>
            </div>
            <div class="container wiki-card mx-auto p-3 row wikicard-6-2-img">
                <div class="col-sm-6 row">
                    <div class="col-sm-2 text-end">
                        <h1>
                            07
                        </h1>
                    </div>
                    <div class="col-sm-10">
                        <h2>Large in situ study </h2>
                        <p>
                            Same as before, but testing different areas/conditions which are larger in scale, more
                            diverse or complex.
                        </p>
                    </div>
                </div>

                <div class="col-sm-6 row">
                    <div class="col-sm-2 text-end">
                        <h1>
                            08
                        </h1>
                    </div>
                    <div class="col-sm-10">
                        <h2>Final application </h2>
                        <p>

                        </p>
                    </div>
                </div>
            </div>


            <div class="container wiki-card mx-auto p-3 row wikicard-6-2-img-no-number">
                <div class="col-sm-12">

                    <p>
                        *It is important to take into consideration that each of these stages might require separate
                        approval by regulatory agencies. Experimental design will be key for the correct planning and
                        execution of these phases, as well as for the obtaining of correct and valid data.
                    </p>
                </div>


            </div>




        </div>





        <!-- protocolst -->
        <div v-if="current_slide_index.index==4" class="container">

            <div class="container wiki-card wikicard-12 mx-auto p-3 row  wikicard-12-double-col">
                <h2>Molecular Biology </h2>


            </div>


            <div class="text-center">


               

                


                <li class="nav-item">
                    <a class="nav-link active" aria-current="page"
                        href="https://2021.igem.org/wiki/images/5/5d/T--TEC_COSTA_RICA--WetLab_12_Protocol_DNADigestion.pdf">
                        DNA Digestion</a>
                </li>


                <li class="nav-item">
                    <a class="nav-link active" aria-current="page"
                        href="https://2021.igem.org/wiki/images/8/82/T--TEC_COSTA_RICA--WetLab_13_Protocol_DNALigation.pdf">
                        DNA Ligation</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link active" aria-current="page"
                        href="https://2021.igem.org/wiki/images/8/84/T--TEC_COSTA_RICA--WetLab_14_Protocol_TransformationofEscherichiacoliDH5andTop10.pdf">
                        Transformation</a>
                </li>


                <li class="nav-item">
                    <a class="nav-link active" aria-current="page"
                        href="https://2021.igem.org/wiki/images/7/70/T--TEC_COSTA_RICA--WetLab_15_Protocol_Colony_PCR.pdf">
                        Colony PCR</a>
                </li>


                <li class="nav-item">
                    <a class="nav-link active" aria-current="page"
                        href="https://2021.igem.org/wiki/images/2/27/T--TEC_COSTA_RICA--WetLab_16_Protocol_Quantificationofbacterialfluorescence.pdf">
                        Fluorescence</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link active" aria-current="page"
                        href="https://2021.igem.org/wiki/images/c/c0/T--TEC_COSTA_RICA--WetLab_17_Protocol_ChemicallyCompetentCellsPreparation.pdf">
                        Competent Cells</a>
                </li>


                <li class="nav-item">
                    <a class="nav-link active" aria-current="page"
                        href="https://2021.igem.org/wiki/images/0/01/T--TEC_COSTA_RICA--WetLab_18_Protocol_Cryopreservation.pdf">
                        Cryopreservation</a>
                </li>


                <li class="nav-item">
                    <a class="nav-link active" aria-current="page"
                        href="https://2021.igem.org/wiki/images/2/25/T--TEC_COSTA_RICA--WetLab_19_Protocol_Growthcurvedetermination.pdf">
                        Growth Curve</a>
                </li>


                <!-- <li class="nav-item">
                    <a class="nav-link active" aria-current="page"
                        href="URLLLLLLLL">
                        Notebook</a>
                </li> -->


                <!-- <li class="nav-item">
                    <a class="nav-link active" aria-current="page"
                        href="URLLLLLLLL">
                        Notebook</a>
                </li> -->
<!-- 
                <button type="button" class="btn btn-primary btn-lg mx-auto  my-3">Notebook</button>

                <button type="button" class="btn btn-primary btn-lg mx-auto  my-3" href=""> download </button>



                <button type="button" class="btn btn-primary btn-lg mx-auto  my-3">Descargar Archivos pegar
                    link</button>

                <button type="button" class="btn btn-primary btn-lg mx-auto  my-3">Descargar Archivos pegar
                    link</button>

                <button type="button" class="btn btn-primary btn-lg mx-auto  my-3">Descargar Archivos pegar
                    link</button>

                <button type="button" class="btn btn-primary btn-lg mx-auto  my-3">Descargar Archivos pegar
                    link</button>

                <button type="button" class="btn btn-primary btn-lg mx-auto  my-3">Descargar Archivos pegar
                    link</button>

                <button type="button" class="btn btn-primary btn-lg mx-auto  my-3">Descargar Archivos pegar
                    link</button>

                <button type="button" class="btn btn-primary btn-lg mx-auto  my-3">Descargar Archivos pegar
                    link</button> -->

            </div>




        </div>



        <!-- publick engagement -->
        <div v-if="current_slide_index.index==5" class="container">



            <div class="container wiki-card mx-auto p-3 row wikicard-6-2-img-no-number">
                <div class="col-sm-6">
                    <p>
                        We took a record of every lab work day to have a register of the process and results. Each day
                        of work, register the experiment, person in charge, a short description and results. In every
                        description is stated the protocol used to achieve the goal of each specific experiment. Those
                        protocols are punctually described in {Protocols}
                    </p>
                </div>

                <div class="col-sm-6 justify-content-md-center">
                    <img class="img-square align-middle "
                        src="https://2021.igem.org/wiki/images/b/b7/T--TEC_COSTA_RICA--WetLab_06_NotebookIcon.png"
                        all="">
                </div>
            </div>

            <div class="text-center">

                

                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page"
                            href="https://2021.igem.org/wiki/images/4/4e/T--TEC_COSTA_RICA--Description_GSC_Notebook_01.pdf">
                            Notebook</a>
                    </li>
            </div>


        </div>

        <!--parts -->
        <div v-if="current_slide_index.index==6" class="container">

            <div class="container wiki-card wikicard-12 mx-auto p-3 row  wikicard-12-double-col">
                <p class="">
                    The composite constructs created for our characterization were added to the repository, along with a
                    DNA Ligase, the only part completely missing for the fulfillment of our suicide circuit design.
                </p>
            </div>




            <table class="tg mx-auto" style="table-layout: fixed; width: 387px">
                <colgroup>
                    <col style="width: 109px">
                    <col style="width: 278px">
                </colgroup>
                <thead>
                    <tr>
                        <th class="tg-0pky"><span
                                style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">Code</span>
                        </th>
                        <th class="tg-0lax"><span
                                style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">Name/description</span>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="tg-ktyi"><span
                                style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">BBa_K3917004</span>
                        </td>
                        <td class="tg-7zkw"><span
                                style="font-weight:400;font-style:normal;text-decoration:none;color:#282828;background-color:#FFF">DNA
                                Ligase 30 from </span><br><span
                                style="font-weight:400;font-style:normal;text-decoration:none;color:#282828;background-color:#FFF">Bacteriophage
                                T4</span></td>
                    </tr>
                    <tr>
                        <td class="tg-ktyi"><span
                                style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">BBa_K3917001</span>
                        </td>
                        <td class="tg-7zkw"><span
                                style="font-weight:400;font-style:normal;text-decoration:none;color:#282828;background-color:#FFF">Autonomous
                                genetic counter that tracks the number of times an Arabinose impulse is
                                supplemented</span></td>
                    </tr>
                    <tr>
                        <td class="tg-7zkw"><span
                                style="font-weight:400;font-style:normal;text-decoration:none;color:#282828;background-color:transparent">BBa_K3917003</span>
                        </td>
                        <td class="tg-7zkw"><span
                                style="font-weight:400;font-style:normal;text-decoration:none;color:#282828;background-color:#FFF">Module
                                to prevent over-count of a genetic autonomous counter.</span></td>
                    </tr>
                </tbody>
            </table>



            <div class="container wiki-card wikicard-12 mx-auto p-3 row  wikicard-12-double-col">
                <h2>Graphic visualization of composite parts: </h2>
                <h3>Counter circuit: {BBa_K3917001} </h3>
            </div>

            <div class="container  mx-auto p-3 wikicard-12-img">

                <div class="text-center">
                    <img src="https://2021.igem.org/wiki/images/2/25/T--TEC_COSTA_RICA--WetLab_Parts_2_BBa_K3917001.png"
                        alt="" style="width:100% center" class="w-75">
                </div>
            </div>



            <div class="container wiki-card wikicard-12 mx-auto p-3 row  wikicard-12-double-col">
                <h3>Overcount preventions system: {BBa_K3917003} </h3>
            </div>

            <div class="container  mx-auto p-3 wikicard-12-img">

                <div class="text-center">
                    <img src="https://2021.igem.org/wiki/images/d/da/T--TEC_COSTA_RICA--WetLab_Parts_1_BBa_K3917003.png"
                        alt="" style="width:100% center" class="w-75">
                </div>
            </div>



        </div>





        <!-- results -->



        <div v-if="current_slide_index.index==7" class="container">
            <div class="container wiki-card mx-auto p-3 row wikicard-6-2-img-no-number">
                <div class="col-sm-6">

                    <p>
                        Due to the pandemic and the difficulties to access the laboratory, team members transportation,
                        capacity of the lab and other external setbacks as delays in customs and shipment, the
                        characterization of the composite parts in the laboratory was not possible. Nevertheless we made
                        some in silico characterizations of the protein structure model and protein motif predictions
                        for each protein of our composite parts BBa_K3917001 (Counter) and BBa_K3917003 (Module to
                        prevent Overcount).

                        The results of those in silico characterization are in the following documents:
                    </p>
                </div>

                <div class="col-sm-6 justify-content-md-center">
                    <img class="img-square align-middle "
                        src="https://2021.igem.org/wiki/images/7/76/T--TEC_COSTA_RICA--WetLab_Results_09_Protein.png"
                        all="">
                </div>
            </div>
            <div class="text-center">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page"
                        href="https://2021.igem.org/wiki/images/8/89/T--TEC_COSTA_RICA--Description_GSC_RESULTS_01_InSilicoCounter.pdf">
                        Results Counter</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link active" aria-current="page"
                        href="https://2021.igem.org/wiki/images/f/fb/T--TEC_COSTA_RICA--Description_GSC_RESULTS_02_InSilicoOvercount.pdf">
                        Results Overcount</a>
                </li>
               





        </div>







    </div>

</body>
<!-- CONTENIDO PRINCIPAL -->

<style>

</style>

<style>
    #globalWrapper {
        font-size: 100% !important;
    }

    #HQ_page h1,
    h2,
    h3,
    h4,
    h5 {
        font-family: var(--bs-body-font-family) !important;
        overflow: visible !important
    }

    #HQ_page p {
        font-family: var(--bs-body-font-family) !important;
        font-size: var(--bs-body-font-size) !important;
    }



    /*
    #HQ_page h1,
    h2,
    h3,
    h4,
    h5 {
     font-family:"Arial",Gadget,sans-serif;
     border-bottom:none;
     font-weight:bold
    }

    #HQ_page p {
        font-family:"Arial",Helvetica,sans-serif;
        font-size:13px;
        text-align:justify
       }
       
    /*body {
        font-family: var(--bs-body-font-family) !important;
    }*/

    .double-text {
        background-color: #1A1A1A;
        -webkit-text-stroke-width: 1.5px;
        -webkit-text-fill-color: rgba(255, 255, 255, 0);
        -webkit-text-stroke-color: rgb(255, 255, 255);
        font-size: 90px;
        font-family: 'Open Sans';
        font-weight: 800 !important;

        text-shadow:
            6px 8px 0px rgb(255, 255, 255);
        opacity: 1;
        text-transform: uppercase;
        letter-spacing: -1.03px;
    }


    .main-title h1 {
        /*font-family: 'Open Sans'; */
        font-weight: 800 !important;
        font-size: 55px;
        -webkit-text-fill-color: #ffffff00;
        -webkit-text-stroke-width: 1.5px;
        -webkit-text-stroke-color: #ffffff;
    }


    .main-title h5 {
        /*font-family: 'Open Sans'; */
        font-size: 15px;
        color: #ffffff;
        width: 40%
    }

    .main-title-bg {
        opacity: 0.9;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: auto;
        z-index: -99;
    }

    .wiki-card {}

    .wiki-card .img-round {
        border-radius: 50%;
        width: 100%;
        height: auto;

    }

    .wiki-card .img-square {
        border-radius: 10px;
        width: 100%;
        height: auto;
    }

    .wiki-card h1 {
        /*margin-right: 10vw;*/
        color: #E2474B;
        font-size: calc(2rem + 1.5vw);
        /*font-size: 56px;*/
        font-weight: bold;
        letter-spacing: -0.8px;
    }

    .wiki-card h2 {
        color: #27262D;
        font-size: 24px;
        font-weight: bold;
        letter-spacing: 0;
        line-height: 33px;
    }

    .wiki-card h3 {
        color: #626262;
        font-size: 18px;
        letter-spacing: -0.2px;
        line-height: 19px;
    }

    .wiki-card p {
        color: #27262D;
        /*line-height: 24px;*/
    }

    .wiki-card p.wiki-card-2columns {
        columns: 2;
    }
</style>


<style type="text/css">
    .tg {
        border-collapse: collapse;
        border-spacing: 0;
    }

    .tg td {
        border-color: black;
        border-style: solid;
        border-width: 1px;
        font-family: Arial, sans-serif;
        font-size: 14px;
        overflow: hidden;
        padding: 10px 5px;
        word-break: normal;
    }

    .tg th {
        border-color: black;
        border-style: solid;
        border-width: 1px;
        font-family: Arial, sans-serif;
        font-size: 14px;
        font-weight: normal;
        overflow: hidden;
        padding: 10px 5px;
        word-break: normal;
    }

    .tg .tg-7zkw {
        background-color: #FFF;
        color: #282828;
        text-align: left;
        vertical-align: top
    }

    .tg .tg-0pky {
        border-color: inherit;
        text-align: left;
        vertical-align: top
    }

    .tg .tg-0lax {
        text-align: left;
        vertical-align: top
    }

    .tg .tg-ktyi {
        background-color: #FFF;
        text-align: left;
        vertical-align: top
    }
</style>
<script>
    var app = new Vue({
        el: '#app',
        data() {
            return {
                isActive: true,
                message: 'hello app',
                current_slide_index: {
                    index: 0
                },
                current_slide_index2: {
                    index: 0
                },
                slides_content:


                    [{
                            title: "Overview",
                            content: "The general objective of executing lab work is to experimentally characterize a circuit."
                        },
                        {
                            title: "Assembly Design",
                            content: "Since we had limited base pairs for circuit design, our gene fragments were carefully planned to be efficiently constructed and to allow versatile characterization."
                        },
                        {
                            title: "Experimental characterization design",
                            content: "The basis of our characterization are fluorescent proteins."
                        },
                        {
                            title: "Further Characterization",
                            content: "Several other characterization targets were proposed towards the end of our time in the competition. We invite future teams to address them in their own projects. "
                        },
                        {
                            title: "Protocols",
                            content: "Here are the protocols that are going to be used to characterize the genetic constructs described in parts. These protocols consist of a number of steps followed to accomplish each step from strain construct to characterization. Each specific modification made on a specific protocol will be specified on notebook."
                        },
                        {
                            title: "Notebook",
                            content: "We kept track of our progress in the lab through a notebook where detailed information was recorded. "
                        },
                        {
                            title: "Parts",
                            content: "For our project we generated two composite parts and a basic part, which are detailed in this section."
                        },
                        {
                            title: "Results",
                            content: "Due to unexpected circumstances beyond our control we were unable to perform our devised characterization; however, we decided to carry out some in silico characterizations for our proteins instead."
                        }
                    ],

            }
        },
        methods: {},
        mounted() {}
    })
</script>


</html>
