<html>



<!-- BORRAR -->

<head>

    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>

    <link href='https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,800;1,800&display=swap' rel='stylesheet'>
</head>

<!-- BORRAR -->




<!-- <head>

    <link rel="stylesheet" type="text/css"
        href="https://2021.igem.org/wiki/index.php?title=Template:TEC_COSTA_RICA/BootstrapMinCSS&action=raw&ctype=text/css" />

    <script
        src="https://2021.igem.org/wiki/index.php?title=Template:TEC_COSTA_RICA/VueJS&action=raw&ctype=text/javascript">
    </script>

    <script
        src="https://2021.igem.org/wiki/index.php?title=Template:TEC_COSTA_RICA/BootstrapJS&action=raw&ctype=text/javascript">
    </script>

    <link href='https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,800;1,800&display=swap' rel='stylesheet'>

</head> -->






<!-- COMPONENTE CAROUSEL -->
<style>
    .carousel .carousel-caption {
        padding-top: 2rem;
        height: 100%;
    }

    .carousel .carousel-caption h3 {
        font-size: 50px;
        color: white !important;

    }

    .carousel .carousel-caption p {
        /*font-size: 12px;*/
    }

    .page_content_sections .page_content_section {
        display: none;
        padding: 10%;
        padding-top: 20px;
    }

    .page_content_sections .page_content_section_active {
        display: block;
    }
</style>

<script type="text/x-template" id="main_carousel">
    <div>
        <div>
            <div :id="'carouselComponent'+id" class="carousel slide" data-bs-ride="carousel" data-bs-interval="false"  ref="maincarousel"  >


                <ol class="carousel-indicators">
                    <li v-for="(slide, index) in slides_content" :data-bs-target="'#carouselComponent'+id"  v-bind:data-bs-slide-to="index" v-bind:class="{ active: index==0 }"></li>
                </ol>

                <div class="carousel-inner" role="listbox">


                    <div class="carousel-item" v-for="(slide, index) in slides_content"  v-bind:class="{ active: index==0 }">
                        <svg class="bd-placeholder-img" width="100%" height="250px" xmlns="http://www.w3.org/2000/svg"
                            aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
                            <rect width="100%" height="100%" fill="#1A1A1A" />
                        </svg>

                        <div class="carousel-caption text-start">
                            <h3 class="slide_tittle">
                                {{slide.title}}

                            </h3>
                            <p class="slide_text w-75">
                                {{slide.content}}
                            </p>
                        </div>
                    </div>
            </div>


            <button class="carousel-control-prev" type="button" :data-bs-target="'#carouselComponent'+id"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" :data-bs-target="'#carouselComponent'+id"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>

        </div>
    </div>       
</script>


<script>
    Vue.component("main-carousel", {
        data: {},
        props: {
            current_slide: {
                type: Object,
                default: "casa"
            },
            slides_content: {
                type: Array,
                default: []
            },
            id: {
                type: Number,
                default: 0
            }
        },

        template: "#main_carousel",
        methods: {
            updateCurrentSlide: function (event) {
                this.current_slide.index = event.to;
            },

        },
        mounted() {
            this.$refs.maincarousel.addEventListener('slide.bs.carousel', this.updateCurrentSlide);
        }
    });
</script>
<!-- COMPONENTE CAROUSEL -->




<!-- CONTENIDO PRINCIPAL -->

<body>
    <div id="app">


        <div class="position-relative overflow-hidden p-3 p-md-5  text-start  main-title">
            <img class="main-title-bg" src="https://picsum.photos/id/1042/1200/400" alt="">
            <h1>Wetlab</h1>
            <h5 class="">The wet-lab characterization of our genetic suicide circuit serves as a proof of concept for
                the proposal presented in the description.</h5>
        </div>


        <main-carousel v-bind:current_slide="current_slide_index" v-bind:slides_content="slides_content" :id="1">
        </main-carousel>

        <!-- overview -->
        <div v-if="current_slide_index.index==0" class="container">


            <div class="container wiki-card wikicard-12 mx-auto p-3 row  wikicard-12-double-col">
                <h2>title </h2>

                <p class="">
                    content
                </p>

                <p class="">
                    <ul>
                        <li>sdasdas</li>
                        <li>sdasdas</li>
                        <li>sdasdas</li>
                    </ul>
                </p>
            </div>
            <div class="container wiki-card wikicard-12 mx-auto p-3 row  wikicard-12-double-col">
                <h2>title </h2>

                <p class="">
                    content
                </p>
                <p class="">
                    <ul>
                        <li>sdasdas</li>
                        <li>sdasdas</li>
                        <li>sdasdas</li>
                    </ul>
                </p>
            </div>

            <div class="container wiki-card wikicard-12 mx-auto p-3 row  wikicard-12-double-col">

                <p class="">
                    content
                </p>

            </div>



        </div>




        <!-- Scope -->
        <div v-if="current_slide_index.index==1" class="container">



            <div class="container wiki-card wikicard-12 mx-auto p-3 row  wikicard-12-double-col">
                <h2>title</h2>

                <p class="">
                    content
                </p>


            </div>

            <div class="container wiki-card wikicard-12 mx-auto p-3 row  wikicard-12-double-col">
                <h2>title</h2>

                <p class="">
                    content
                </p>


            </div>


            <div class="container wiki-card wikicard-12 mx-auto p-3 row  wikicard-12-double-col">
                <h2>title</h2>

                <p class="">
                    content
                </p>


            </div>


            <div class="container  mx-auto p-3 wikicard-12-img">

                <div class="text-center">
                    <img src="//placehold.co/1200x600?text=snippet" alt="" style="width:100% center" class="w-75">
                </div>
            </div>


            <div class="container wiki-card wikicard-12 mx-auto p-3 row  wikicard-12-double-col">

                <p class="">
                    content
                </p>
            </div>








        </div>





        <!-- experimental -->
        <div v-if="current_slide_index.index==2" class="container">

            <div class="container wiki-card wikicard-12 mx-auto p-3 row  wikicard-12-double-col">

                <p class="">
                    content
                </p>
            </div>


            <div class="container wiki-card wikicard-12 mx-auto p-3 row  wikicard-12-double-col">
                <h2>title </h2>

                <p class="wiki-card-2columns">
                    content
                </p>
            </div>

            <div class="container  mx-auto p-3 wikicard-12-img">

                <div class="text-center">
                    <img src="//placehold.co/1200x600?text=snippet" alt="" style="width:100% center" class="w-75">
                </div>
            </div>

            <div class="container wiki-card wikicard-12 mx-auto p-3 row  wikicard-12-double-col">
                <h2>title </h2>

                <p class="wiki-card-2columns">
                    content
                </p>
            </div>

            <div class="container  mx-auto p-3 wikicard-12-img">

                <div class="text-center">
                    <img src="//placehold.co/1200x600?text=snippet" alt="" style="width:100% center" class="w-75">
                </div>
            </div>

            <div class="container wiki-card wikicard-12 mx-auto p-3 row  wikicard-12-double-col">
                <h2>title </h2>

                <p class="wiki-card-2columns">
                    content
                </p>
            </div>

            <div class="container  mx-auto p-3 wikicard-12-img">

                <div class="text-center">
                    <img src="//placehold.co/1200x600?text=snippet" alt="" style="width:100% center" class="w-75">
                </div>
            </div>

            <div class="container wiki-card wikicard-12 mx-auto p-3 row  wikicard-12-double-col">
                <h2>title </h2>

                <p class="wiki-card-2columns">
                    content
                </p>
            </div>

            <div class="container  mx-auto p-3 wikicard-12-img">

                <div class="text-center">
                    <img src="//placehold.co/1200x600?text=snippet" alt="" style="width:100% center" class="w-75">
                </div>
            </div>

            <div class="container wiki-card wikicard-12 mx-auto p-3 row  wikicard-12-double-col">
                <h2>title </h2>

                <p class="wiki-card-2columns">
                    content
                </p>
            </div>


        </div>

        <!-- further -->
        <div v-if="current_slide_index.index==3" class="container">

            <div class="container wiki-card mx-auto p-3 row wikicard-6-2-img">
                <div class="col-sm-6 row">
                    <div class="col-sm-2 text-end">
                        <h1>
                            01
                        </h1>
                    </div>
                    <div class="col-sm-10">
                        <h2>title </h2>
                        <p>
                            content
                        </p>
                    </div>
                </div>

                <div class="col-sm-6 row">
                    <div class="col-sm-2 text-end">
                        <h1>
                            01
                        </h1>
                    </div>
                    <div class="col-sm-10">
                        <h2>title </h2>
                        <p>
                            content
                        </p>
                    </div>
                </div>
            </div>

            <div class="container wiki-card mx-auto p-3 row wikicard-6-2-img">
                <div class="col-sm-6 row">
                    <div class="col-sm-2 text-end">
                        <h1>
                            01
                        </h1>
                    </div>
                    <div class="col-sm-10">
                        <h2>title </h2>
                        <p>
                            content
                        </p>
                    </div>
                </div>

                <div class="col-sm-6 row">
                    <div class="col-sm-2 text-end">
                        <h1>
                            01
                        </h1>
                    </div>
                    <div class="col-sm-10">
                        <h2>title </h2>
                        <p>
                            content
                        </p>
                    </div>
                </div>
            </div>


            <div class="container wiki-card wikicard-12 mx-auto p-3 row  wikicard-12-double-col">

                <p class="">
                    content
                </p>
            </div>

            <div class="container wiki-card mx-auto p-3 row wikicard-6-2-img">
                <div class="col-sm-6 row">
                    <div class="col-sm-2 text-end">
                        <h1>
                            01
                        </h1>
                    </div>
                    <div class="col-sm-10">
                        <h2>title </h2>
                        <p>
                            content
                        </p>
                    </div>
                </div>

                <div class="col-sm-6 row">
                    <div class="col-sm-2 text-end">
                        <h1>
                            01
                        </h1>
                    </div>
                    <div class="col-sm-10">
                        <h2>title </h2>
                        <p>
                            content
                        </p>
                    </div>
                </div>
            </div>
            <div class="container wiki-card mx-auto p-3 row wikicard-6-2-img">
                <div class="col-sm-6 row">
                    <div class="col-sm-2 text-end">
                        <h1>
                            01
                        </h1>
                    </div>
                    <div class="col-sm-10">
                        <h2>title </h2>
                        <p>
                            content
                        </p>
                    </div>
                </div>

                <div class="col-sm-6 row">
                    <div class="col-sm-2 text-end">
                        <h1>
                            01
                        </h1>
                    </div>
                    <div class="col-sm-10">
                        <h2>title </h2>
                        <p>
                            content
                        </p>
                    </div>
                </div>
            </div>
            <div class="container wiki-card mx-auto p-3 row wikicard-6-2-img">
                <div class="col-sm-6 row">
                    <div class="col-sm-2 text-end">
                        <h1>
                            01
                        </h1>
                    </div>
                    <div class="col-sm-10">
                        <h2>title </h2>
                        <p>
                            content
                        </p>
                    </div>
                </div>

                <div class="col-sm-6 row">
                    <div class="col-sm-2 text-end">
                        <h1>
                            01
                        </h1>
                    </div>
                    <div class="col-sm-10">
                        <h2>title </h2>
                        <p>
                            content
                        </p>
                    </div>
                </div>
            </div>
            <div class="container wiki-card mx-auto p-3 row wikicard-6-2-img">
                <div class="col-sm-6 row">
                    <div class="col-sm-2 text-end">
                        <h1>
                            01
                        </h1>
                    </div>
                    <div class="col-sm-10">
                        <h2>title </h2>
                        <p>
                            content
                        </p>
                    </div>
                </div>

                <div class="col-sm-6 row">
                    <div class="col-sm-2 text-end">
                        <h1>
                            01
                        </h1>
                    </div>
                    <div class="col-sm-10">
                        <h2>title </h2>
                        <p>
                            content
                        </p>
                    </div>
                </div>
            </div>


            <div class="container wiki-card mx-auto p-3 row wikicard-6-2-img-no-number">
                <div class="col-sm-6">

                    <p>
                        content
                    </p>
                </div>


            </div>




        </div>





        <!-- protocolst -->
        <div v-if="current_slide_index.index==4" class="container">

            <div class="container wiki-card wikicard-12 mx-auto p-3 row  wikicard-12-double-col">
                <h2>title </h2>


            </div>


            <div class="text-center">

                <button type="button" class="btn btn-primary btn-lg mx-auto  my-3">Descargar Archivos pegar
                    link</button>

                <button type="button" class="btn btn-primary btn-lg mx-auto  my-3">Descargar Archivos pegar
                    link</button>

                <button type="button" class="btn btn-primary btn-lg mx-auto  my-3">Descargar Archivos pegar
                    link</button>

                <button type="button" class="btn btn-primary btn-lg mx-auto  my-3">Descargar Archivos pegar
                    link</button>

                <button type="button" class="btn btn-primary btn-lg mx-auto  my-3">Descargar Archivos pegar
                    link</button>

                <button type="button" class="btn btn-primary btn-lg mx-auto  my-3">Descargar Archivos pegar
                    link</button>

                <button type="button" class="btn btn-primary btn-lg mx-auto  my-3">Descargar Archivos pegar
                    link</button>

                <button type="button" class="btn btn-primary btn-lg mx-auto  my-3">Descargar Archivos pegar
                    link</button>

            </div>




        </div>



        <!-- publick engagement -->
        <div v-if="current_slide_index.index==5" class="container">



            <div class="container wiki-card mx-auto p-3 row wikicard-6-2-img-no-number">
                <div class="col-sm-6">
                    <p>
                        content
                    </p>
                </div>

                <div class="col-sm-6 justify-content-md-center">
                    <img class="img-square align-middle " src="https://placehold.co/600x600?text=snippet" all="">
                </div>
            </div>

            <div class="text-center">

                <button type="button" class="btn btn-primary btn-lg mx-auto  my-3">Descargar Archivos pegar
                    link</button>
            </div>


        </div>

        <!--parts -->
        <div v-if="current_slide_index.index==6" class="container">

            <div class="container wiki-card wikicard-12 mx-auto p-3 row  wikicard-12-double-col">
                <p class="">
                    content
                </p>
            </div>




            <table class="tg mx-auto" style="table-layout: fixed; width: 387px">
                <colgroup>
                    <col style="width: 109px">
                    <col style="width: 278px">
                </colgroup>
                <thead>
                    <tr>
                        <th class="tg-0pky"><span
                                style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">Code</span>
                        </th>
                        <th class="tg-0lax"><span
                                style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">Name/description</span>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="tg-ktyi"><span
                                style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">BBa_K3917004</span>
                        </td>
                        <td class="tg-7zkw"><span
                                style="font-weight:400;font-style:normal;text-decoration:none;color:#282828;background-color:#FFF">DNA
                                Ligase 30 from </span><br><span
                                style="font-weight:400;font-style:normal;text-decoration:none;color:#282828;background-color:#FFF">Bacteriophage
                                T4</span></td>
                    </tr>
                    <tr>
                        <td class="tg-ktyi"><span
                                style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">BBa_K3917001</span>
                        </td>
                        <td class="tg-7zkw"><span
                                style="font-weight:400;font-style:normal;text-decoration:none;color:#282828;background-color:#FFF">Autonomous
                                genetic counter that tracks the number of times an Arabinose impulse is
                                supplemented</span></td>
                    </tr>
                    <tr>
                        <td class="tg-7zkw"><span
                                style="font-weight:400;font-style:normal;text-decoration:none;color:#282828;background-color:transparent">BBa_K3917003</span>
                        </td>
                        <td class="tg-7zkw"><span
                                style="font-weight:400;font-style:normal;text-decoration:none;color:#282828;background-color:#FFF">Module
                                to prevent over-count of a genetic autonomous counter.</span></td>
                    </tr>
                </tbody>
            </table>



            <div class="container wiki-card wikicard-12 mx-auto p-3 row  wikicard-12-double-col">
                <h2>title </h2>
                <h3>subtitle </h3>
            </div>

            <div class="container  mx-auto p-3 wikicard-12-img">

                <div class="text-center">
                    <img src="//placehold.co/1200x600?text=snippet" alt="" style="width:100% center" class="w-75">
                </div>
            </div>



            <div class="container wiki-card wikicard-12 mx-auto p-3 row  wikicard-12-double-col">
                <h3>subtitle </h3>
            </div>

            <div class="container  mx-auto p-3 wikicard-12-img">

                <div class="text-center">
                    <img src="//placehold.co/1200x600?text=snippet" alt="" style="width:100% center" class="w-75">
                </div>
            </div>



        </div>





        <!-- results -->



        <div v-if="current_slide_index.index==7" class="container">
            <div class="container wiki-card mx-auto p-3 row wikicard-6-2-img-no-number">
                <div class="col-sm-6">

                    <p>
                        content
                    </p>
                </div>

                <div class="col-sm-6 justify-content-md-center">
                    <img class="img-square align-middle " src="https://placehold.co/600x600?text=snippet" all="">
                </div>
            </div>
            <div class="text-center">

                <button type="button" class="btn btn-primary btn-lg mx-auto  my-3">Descargar Archivos pegar
                    link</button>

                <button type="button" class="btn btn-primary btn-lg mx-auto  my-3">Descargar Archivos pegar
                    link</button>
            </div>






        </div>







    </div>

</body>
<!-- CONTENIDO PRINCIPAL -->

<style>

</style>

<style>
    #globalWrapper {
        font-size: 100% !important;
    }

    #HQ_page h1,
    h2,
    h3,
    h4,
    h5 {
        font-family: var(--bs-body-font-family) !important;
        overflow: visible !important
    }

    #HQ_page p {
        font-family: var(--bs-body-font-family) !important;
        font-size: var(--bs-body-font-size) !important;
    }



    /*
    #HQ_page h1,
    h2,
    h3,
    h4,
    h5 {
     font-family:"Arial",Gadget,sans-serif;
     border-bottom:none;
     font-weight:bold
    }

    #HQ_page p {
        font-family:"Arial",Helvetica,sans-serif;
        font-size:13px;
        text-align:justify
       }
       
    /*body {
        font-family: var(--bs-body-font-family) !important;
    }*/

    .double-text {
        background-color: #1A1A1A;
        -webkit-text-stroke-width: 1.5px;
        -webkit-text-fill-color: rgba(255, 255, 255, 0);
        -webkit-text-stroke-color: rgb(255, 255, 255);
        font-size: 90px;
        font-family: 'Open Sans';
        font-weight: 800 !important;

        text-shadow:
            6px 8px 0px rgb(255, 255, 255);
        opacity: 1;
        text-transform: uppercase;
        letter-spacing: -1.03px;
    }


    .main-title h1 {
        /*font-family: 'Open Sans'; */
        font-weight: 800 !important;
        font-size: 55px;
        -webkit-text-fill-color: #ffffff00;
        -webkit-text-stroke-width: 1.5px;
        -webkit-text-stroke-color: #ffffff;
    }


    .main-title h5 {
        /*font-family: 'Open Sans'; */
        font-size: 15px;
        color: #ffffff;
        width: 40%
    }

    .main-title-bg {
        opacity: 0.9;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: auto;
        z-index: -99;
    }

    .wiki-card {}

    .wiki-card .img-round {
        border-radius: 50%;
        width: 100%;
        height: auto;

    }

    .wiki-card .img-square {
        border-radius: 10px;
        width: 100%;
        height: auto;
    }

    .wiki-card h1 {
        /*margin-right: 10vw;*/
        color: #E2474B;
        font-size: calc(2rem + 1.5vw);
        /*font-size: 56px;*/
        font-weight: bold;
        letter-spacing: -0.8px;
    }

    .wiki-card h2 {
        color: #27262D;
        font-size: 24px;
        font-weight: bold;
        letter-spacing: 0;
        line-height: 33px;
    }

    .wiki-card h3 {
        color: #626262;
        font-size: 18px;
        letter-spacing: -0.2px;
        line-height: 19px;
    }

    .wiki-card p {
        color: #27262D;
        /*line-height: 24px;*/
    }

    .wiki-card p.wiki-card-2columns {
        columns: 2;
    }
</style>


<style type="text/css">
    .tg {
        border-collapse: collapse;
        border-spacing: 0;
    }

    .tg td {
        border-color: black;
        border-style: solid;
        border-width: 1px;
        font-family: Arial, sans-serif;
        font-size: 14px;
        overflow: hidden;
        padding: 10px 5px;
        word-break: normal;
    }

    .tg th {
        border-color: black;
        border-style: solid;
        border-width: 1px;
        font-family: Arial, sans-serif;
        font-size: 14px;
        font-weight: normal;
        overflow: hidden;
        padding: 10px 5px;
        word-break: normal;
    }

    .tg .tg-7zkw {
        background-color: #FFF;
        color: #282828;
        text-align: left;
        vertical-align: top
    }

    .tg .tg-0pky {
        border-color: inherit;
        text-align: left;
        vertical-align: top
    }

    .tg .tg-0lax {
        text-align: left;
        vertical-align: top
    }

    .tg .tg-ktyi {
        background-color: #FFF;
        text-align: left;
        vertical-align: top
    }
</style>
<script>
    var app = new Vue({
        el: '#app',
        data() {
            return {
                isActive: true,
                message: 'hello app',
                current_slide_index: {
                    index: 0
                },
                current_slide_index2: {
                    index: 0
                },
                slides_content:


                    [{
                            title: "Overview",
                            content: "The general objective of executing lab work is to experimentally characterize a circuit."
                        },
                        {
                            title: "Assembly Design",
                            content: "Since we had limited base pairs for circuit design, our gene fragments were carefully planned to be efficiently constructed and to allow versatile characterization."
                        },
                        {
                            title: "Experimental characterization design",
                            content: "The basis of our characterization are fluorescent proteins."
                        },
                        {
                            title: "Further Characterization",
                            content: "Several other characterization targets were proposed towards the end of our time in the competition. We invite future teams to address them in their own projects. "
                        },
                        {
                            title: "Protocols",
                            content: "Here are the protocols that are going to be used to characterize the genetic constructs described in parts. These protocols consist of a number of steps followed to accomplish each step from strain construct to characterization. Each specific modification made on a specific protocol will be specified on notebook."
                        },
                        {
                            title: "Notebook",
                            content: "We kept track of our progress in the lab through a notebook where detailed information was recorded. "
                        },
                        {
                            title: "Parts",
                            content: "For our project we generated two composite parts and a basic part, which are detailed in this section."
                        },
                        {
                            title: "Results",
                            content: "Due to unexpected circumstances beyond our control we were unable to perform our devised characterization; however, we decided to carry out some in silico characterizations for our proteins instead."
                        }
                    ],

            }
        },
        methods: {},
        mounted() {}
    })
</script>


</html>