{{TEC_COSTA_RICA/navbar}}
{{TEC_COSTA_RICA/custom_CSS}}
<html>

<head>
    <!-- Load Vue followed by BootstrapVue -->
    <script
        src="https://2021.igem.org/wiki/index.php?title=Template:TEC_COSTA_RICA/VueJS&action=raw&ctype=text/javascript">
    </script>
    <link href='https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,800;1,800&display=swap' rel='stylesheet'>
    <script src="https://2020.igem.org/common/MathJax-2.5-latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
</head>




<div id="app" class="position-absolute top-0 start-0 w-100">


<img class="main-title-bg" style="min-height: 100%; min-width: 100%;"



