<html>

<link rel="stylesheet" type="text/css"
  href="https://2021.igem.org/wiki/index.php?title=Template:TEC_COSTA_RICA/BootstrapCSS&action=raw&ctype=text/css" />
<script
  src="https://2021.igem.org/wiki/index.php?title=Template:TEC_COSTA_RICA/BootstrapJS&action=raw&ctype=text/javascript">
</script>
<script
        src="https://2021.igem.org/wiki/index.php?title=Template:TEC_COSTA_RICA/VueJS&action=raw&ctype=text/javascript">
</script>



</html>
<html>

<header>

  <style>
    p
    {
      margin: 0px!important;
    }
    :root {
      --team-navbar-height: 50px;
    }


    .navbar-custom {
      top: 12px !important;
      background-color: #f5f5f5;
      margin-bottom: 500px;

    }

    /* change the brand and text color */
    .navbar-custom .navbar-brand,
    .navbar-custom .navbar-text {
      color: #3c3c3c;
      font-size: 30px;
      padding-left: 20px;
      padding-right: 20px;
    }

    .navbar-nav>li {
      margin-left: 5px;
      margin-right: 5px;
    }

    .navbar {
      background-color: #000000;
    }

    .navbar-brand img {
      max-height: 20vmin;
    }
  </style>

  <body>


    <nav id="TeamNavBar" class="navbar navbar-expand-xl fixed-top navbar-custom navbar-dark "
      style="margin-bottom:500px;">
      <!-- <nav id="TeamNavBar" class="navbar navbar-expand-lg navbar-dark "> -->
      <div class="container-fluid align-middle">


        <!-- <a class="navbar-brand" href="#">Navbar</a> -->
        <a class="navbar-brand mx-5" href="#">
          <img class="d-inline-block align-top" src="https://2021.igem.org/wiki/images/5/54/T--TEC_COSTA_RICA--HOME_00_Logo.svg" alt="CronoBacter Logo">
        </a>


        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>




        <div class="collapse navbar-collapse " id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">

            <li class="nav-item ">
              <a class="nav-link active" aria-current="page" href="https://2021.igem.org/Team:TEC_COSTA_RICA">Home</a>
            </li>

            <li class="nav-item">
              <a class="nav-link active" aria-current="page"
                href="https://2021.igem.org/Team:TEC_COSTA_RICA/Contribution">Contribution</a>
            </li>

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Project
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">


                <li><a class="dropdown-item"
                    href="https://2021.igem.org/Team:TEC_COSTA_RICA/Description">Description</a></li>

                <li><a class="dropdown-item" href="https://2021.igem.org/Team:TEC_COSTA_RICA/Engineering">Engineering
                    Success</a></li>

                <li><a class="dropdown-item" href="https://2021.igem.org/Team:TEC_COSTA_RICA/Implementation">
                    Implementation
                  </a></li>

                <li>
                  <hr class="dropdown-divider">
                </li>

                <li><a class="dropdown-item" href="https://2021.igem.org/Team:TEC_COSTA_RICA/Model">
                    Model
                  </a></li>

                <li><a class="dropdown-item" href="https://2021.igem.org/Team:TEC_COSTA_RICA/Measurement">
                    Measurement
                  </a></li>

                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="https://2021.igem.org/Team:TEC_COSTA_RICA/Proof_Of_Concept">
                    Proof Of Concept
                  </a></li>

                <li><a class="dropdown-item" href="https://2021.igem.org/Team:TEC_COSTA_RICA/Software">
                    Software
                  </a></li>

                <li><a class="dropdown-item" href="https://2021.igem.org/Team:TEC_COSTA_RICA/Wet_Lab">
                    Wet Lab
                  </a></li>
              </ul>
            </li>

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Engagement
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">


                <li><a class="dropdown-item"
                    href="https://2021.igem.org/Team:TEC_COSTA_RICA/Collaborations">Collaborations</a></li>

                <li><a class="dropdown-item" href="https://2021.igem.org/Team:TEC_COSTA_RICA/Human_Practices">Human Practices</a></li>

                <li><a class="dropdown-item" href="https://2021.igem.org/Team:TEC_COSTA_RICA/Education">
                    Education
                  </a></li>
                <li>

                  <li><a class="dropdown-item" href="https://2021.igem.org/Team:TEC_COSTA_RICA/Communication">
                    Communication
                  </a></li>
                <li>


      
              </ul>
            </li>

           

            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="https://2021.igem.org/Team:TEC_COSTA_RICA/Attributions">Team</a>
            </li>

            

            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="https://2021.igem.org/Team:TEC_COSTA_RICA/Medals">Judging Form</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>




  </body>




  <style>
    #content {
      margin: 0px;
      height: 100%;
      padding: 0px;
      width: 100%;
    }

    #top_title {
      display: none;
    }

    #bodyContent {
      padding-top: var(--team-navbar-height);
    }

  </style>
  <script>
    let root = document.documentElement;
    root.style.setProperty('--team-navbar-height', document.getElementById('TeamNavBar').clientHeight + "px");
  </script>

</header>

</html>